{%- liquid
  assign variant = product.selected_or_first_available_variant

  if show_vendor == null
    assign show_vendor = settings.pcard_show_vendor
  endif

  if show_type == null
    assign show_type = settings.pcard_show_type
  endif

  assign first_media_type = product.media.first.media_type
  assign featured_media = product.featured_media

  if image_ratio == blank
    assign image_ratio = settings.pcard_image_ratio | default: '1/1'
  endif
  if image_ratio == 'adapt'
    if first_media_type == 'video' or first_media_type == 'model'
      assign image_ratio = product.media.first.preview_image.aspect_ratio
    else
      assign image_ratio = product.featured_media.aspect_ratio
    endif
  endif

  if enable_quick_add == null
    assign enable_quick_add = settings.pcard_show_cart_button
  endif

  if enable_quick_view == null
    assign enable_quick_view = settings.pcard_show_quickview_button
  endif

  assign mobile_hide_quick_add = settings.pcard_mobile_hide_quick_add

  assign atc_button_tag = 'a'
  unless settings.pcard_choose_options_actions == 'product_page'
    assign atc_button_tag = 'button'
  endunless

  assign product_url = product.url

  if remove_params
    assign product_url = product_url | split: '?' | first
  endif

  assign card_wrapper_class = ''
  if custom_class != blank
    assign card_wrapper_class = card_wrapper_class | append: ' ' | append: custom_class
  endif
  if mobile_hide_quick_add
    assign card_wrapper_class = card_wrapper_class | append: ' mobile-hide-quick-add'
  endif

  assign quick_view_suffix = quick_view_suffix | default: ''
  assign quick_view_modal_id = 'QuickView-' | append: product.id | append: '-' | append: section.id | append: quick_view_suffix

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section_index < 2 and index == 1
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign image_sizes = image_sizes | default: '(max-width: 767px) 66px, 100px'
-%}
<div
  class="product-card product-card--list blocks-radius background-2{{ card_wrapper_class }}"
>
  <div class="product-card__wrapper">
    <div class="product-card__image-wrapper product-card__image-wrapper--main-only">
      <a href="{{ product.url }}" aria-label="{{ product.title | escape }}" tabindex="-1">
        {%- if featured_media -%}
          {%- unless featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}
            <div
              class="media-wrapper product-card__image product-card__image--main"
              style="--aspect-ratio: {{ image_ratio }}"
            >
              {{
                featured_media
                | image_url: width: 1000
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'motion-reduce',
                  widths: '66, 100, 132, 200',
                  sizes: image_sizes,
                  is: 'image-lazy'
              }}
            </div>
          {%- else -%}
            <div class="media media--adapt" style="--media-ratio: {{ image_ratio }};">
              {% render 'video',
                video: featured_media,
                muted: true,
                autoplay: true,
                loop: true,
                cover_image: featured_media,
                show_play_button: false
              %}
            </div>
          {%- endunless -%}
        {%- else -%}
          <div class="product-card__image product-card__image--main" style="--aspect-ratio: 1;">
            {{- 'product-1' | placeholder_svg_tag: 'placeholder-svg' -}}
          </div>
        {%- endif -%}
      </a>
    </div>
    <div class="product-card__info text-left">
      {%- if show_vendor -%}
        <p class="product-card__vendor text-sm m-0">
          <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          {{ product.vendor }}
        </p>
      {%- endif -%}
      {%- if show_type -%}
        <p class="product-card__type text-sm m-0">
          <span class="visually-hidden">{{ 'accessibility.product_type' | t }}</span>
          {{ product.type }}
        </p>
      {%- endif -%}
      <h3 class="product-card__title text-pcard-title">
        <a class="reversed-link" href="{{ product.url }}">{{- product.title -}}</a>
      </h3>
      {% render 'price', product: product %}
      {%- if enable_quick_add -%}
        {%- liquid
          assign product_form_id = 'quick-add-' | append: section.id | append: product.id
          assign qty_rules = false
          if variant.quantity_rule.min > 1 or variant.quantity_rule.max != null or variant.quantity_rule.increment > 1
            assign qty_rules = true
          endif
        -%}
        {%- if product.variants.size > 1 or qty_rules -%}
          <{{ atc_button_tag }}
            {% if settings.pcard_choose_options_actions == 'product_page' %}
              href="{{- product_url -}}"
            {% else %}
              aria-controls="{{ quick_view_modal_id }}"
              aria-haspopup="dialog"
            {% endif %}
            aria-label="{{ 'products.product.choose_options' | t }}"
            class="product-card__action-button product-card__atc btn btn--secondary"
          >
            <span class="product-card__atc-icon inline-flex">
              {% render 'icon-cart', name: settings.cart_icon, size: 'medium' %}
            </span>
          </{{ atc_button_tag }}>
        {%- else -%}
          {%- form 'product',
            product,
            id: product_form_id,
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form',
            is: 'product-form'
          -%}
            <input
              type="hidden"
              name="id"
              value="{{- variant.id -}}"
              class="product-variant-id"
              {% if variant.available == false %}
                disabled
              {% endif %}
            >
            <button
              id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              {% if variant.available == false %}
                disabled
              {% endif %}
              aria-label="{% if variant.available %}{{ 'products.product.add_to_cart' | t }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}"
              class="product-card__action-button product-card__atc btn btn--secondary"
            >
              <span class="product-card__atc-icon inline-flex">
                {% render 'icon-cart', name: settings.cart_icon, size: 'medium' %}
              </span>
              {% render 'loading-spinner' %}
            </button>
          {%- endform -%}
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
  {%- if settings.pcard_choose_options_actions == 'open_popup' or enable_quick_view -%}
    {% render 'quick-view-modal', modal_id: quick_view_modal_id, product: product %}
  {%- endif -%}
</div>
