{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
  Renders a product thumbnail with a modal-opener

  Accepts:
  - media: {Object} Product Media object
  - media_count: {Number} Number of media objects
  - position: {String} Position of the media. Used for accessible label.
  - desktop_layout: {String} Layout of the media for desktop.
  - mobile_layout: {String} Layout of the media for mobile.
  - loop: {Boolean} Enable video looping (optional)
  - modal_id: {String} The product modal that will be shown by clicking the thumbnail
  - xr_button: {Boolean} Renders the "View in your space" button (shopify-xr-button) if the media is a 3D Model
  - media_width: {Float} The width percentage that the media column occupies on desktop.

  Usage:
  {% render 'product-thumbnail',
    media: media,
    position: forloop.index,
    loop: section.settings.enable_video_looping,
    modal_id: section.id
  %}
{% endcomment %}
{%- liquid
  assign desktop_columns = 1
  if desktop_layout == 'columns' and media_count > 1
    assign desktop_columns = 2
  endif

  assign loading = 'lazy'
  assign fetchpriority = 'low'

  if position < desktop_columns
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif
-%}
{%- capture sizes -%}
{%- if desktop_columns > 1 -%}
(max-width: 768px) calc(100vw - 3rem), calc(((min({{ settings.page_width | plus: 30 }}px, 100vw) * {{ media_width }}) - 4.5rem - {{ desktop_columns | times: 1 | minus: 1 }}rem) / {{ desktop_columns }})
{%- else -%}
(max-width: 768px) calc(100vw - 3rem), calc(((min({{ settings.page_width | plus: 30 }}px, 100vw) * {{ media_width }}) - 4.5rem) / {{ desktop_columns }})
{%- endif -%}
{%- endcapture -%}
<div
  role="listitem"
  tabindex="-1"
  class="product__media-item swiper-slide"
  data-media-id="{{ media.id }}"
  data-media-type="{{ media.media_type }}"
  data-media-index="{{ position }}"
  data-src="{{ media.preview_image | image_url: width: 1946 }}"
  data-pswp-width="{{ media.preview_image.width }}"
  data-pswp-height="{{ media.preview_image.width | divided_by: media.preview_image.aspect_ratio | ceil }}"
>
  <div
    class="product__media-container blocks-radius media-type-{{ media.media_type }}"
    style="--aspect-ratio: {{ media.aspect_ratio | default: 1.0 }};"
  >
    {%- case media.media_type -%}
      {%- when 'model' -%}
        <product-model class="deferred-media no-js-hidden" data-media-id="{{ media.id }}">
          <button id="Deferred-Poster-{{ media.id }}" class="deferred-media__poster media-wrapper" type="button">
            {{
              media.preview_image
              | image_url: width: 1946
              | image_tag:
                is: 'image-lazy',
                loading: loading,
                fetchpriority: fetchpriority,
                sizes: sizes,
                widths: '400, 620, 690, 810, 980, 1240, 1380, 1620, 1960'
            }}
            <span class="deferred-media__poster-button motion-reduce">
              <span class="visually-hidden">{{ 'products.product.media.play_model' | t }}</span>
              {%- render 'icon-3d-model' -%}
            </span>
          </button>
          <template>
            {{- media | media_tag: image_size: '2048x', toggleable: true -}}
          </template>
        </product-model>
        {%- if xr_button -%}
          <button
            class="product__xr-button btn btn--primary absolute z-1 bottom-0 left-0 right-0"
            type="button"
            aria-label="{{ 'products.product.xr_button_label' | t }}"
            data-shopify-xr
            data-shopify-model3d-id="{{ media.id }}"
            data-shopify-title="{{ product.title | escape }}"
            data-shopify-xr-hidden
          >
            {{ 'products.product.xr_button' | t }}
          </button>
        {%- endif -%}
      {%- when 'video' -%}
        {%- render 'video',
          video: media,
          muted: true,
          autoplay: true,
          controls: true,
          loop: loop,
          show_play_button: true
        -%}
      {%- when 'external_video' -%}
        {%- render 'video',
          video_url: media,
          video_url_type: media.host,
          video_url_id: media.external_id,
          cover_image: media.preview_image,
          muted: true,
          autoplay: true,
          controls: true,
          loop: loop,
          show_play_button: true
        -%}
      {%- else -%}
        <motion-element data-motion="zoom-out-sm" class="product__media media-wrapper">
          {{
            media.preview_image
            | image_url: width: 1946
            | image_tag:
              is: 'image-lazy',
              loading: loading,
              fetchpriority: fetchpriority,
              sizes: sizes,
              widths: '400, 620, 690, 810, 980, 1240, 1380, 1620, 1960'
          }}
        </motion-element>
        {%- if enable_image_zoom -%}
          <span
            class="product__media-icon"
            aria-hidden="true"
          >
            {%- render 'icon-zoom' -%}
          </span>
          <button
            class="product__media-zoom btn--inherit js-photoswipe--zoom"
            type="button"
            aria-haspopup="dialog"
            data-media-id="{{ media.id }}"
            data-media-type="{{ media.media_type }}"
            data-media-index="{{ position }}"
          >
            <span class="visually-hidden">
              {{ 'products.product.media.open_media' | t: index: position }}
            </span>
          </button>
        {%- endif -%}
    {%- endcase -%}
  </div>
</div>
