{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.

  Usage:
  {% render 'product-pickup-availability', product: product %}
{% endcomment %}
{{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
  | where: 'pick_up_enabled', true
-%}

<pickup-availability
  class="product__pickup-availabilities quick-add-hidden"
  {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
    available
  {% endif %}
  data-root-url="{{ routes.root_url }}"
  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-has-only-default-variant="{{ product.has_only_default_variant }}"
  data-product-page-color-scheme="color-{{ section.settings.color_scheme }}"
>
  <template>
    <pickup-availability-preview class="pickup-availability-preview">
      {% render 'icon-unavailable' %}
      <div class="pickup-availability-info">
        <p>{{ 'products.product.pickup_availability.unavailable' | t }}</p>
        <button class="pickup-availability-button link link--text underlined-link">
          {{ 'products.product.pickup_availability.refresh' | t }}
        </button>
      </div>
    </pickup-availability-preview>
  </template>
</pickup-availability>

<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
