{%- liquid
  assign header_layout = section.settings.header_layout
  assign button_style = section.settings.button_style
  assign button_label = section.settings.button_label
  assign button_link = section.settings.button_link

  assign section_css_class = ''
  assign col_alignment_class = ''
  assign col_content_width = 100

  if header_layout == 'standing-column'
    assign header_layout = 'vertical'
  endif

  assign image_block = section.blocks | where: 'type', 'image_card' | first
  if image_block
    assign section_css_class = section_css_class | append: ' collapsible-tabs__has-image'
    assign section_css_class = section_css_class | append: ' collapsible-tabs__image-position-' | append: image_block.settings.image_position | default: 'left'

    assign image_vertical_alignment = image_block.settings.alignment | default: 'center'
    assign col_alignment_class = col_alignment_class | append: ' justify-' | append: image_vertical_alignment

    assign col_image_width = image_block.settings.image_width
    assign col_content_width = col_content_width | minus: col_image_width
  endif

  assign item_font_family = section.settings.item_heading_font | default: 'body'
  assign item_heading_size = section.settings.item_heading_size | default: 'h6'
  assign item_trigger_class = ' font-' | append: item_font_family | append: ' ' | append: item_heading_size
  assign item_icon_size = section.settings.item_icon_size | default: 'extra-large'
-%}
{{ 'section-collapsible-tabs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'collapsible-tabs.js' | asset_url }}" defer="defer"></script>

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div
  class="section section-{{ section.id }} section--padding section--collapsible-tabs section-header-{{ section.settings.header_layout }} page-width page-width--{{ section.settings.container }} color-{{ section.settings.color_scheme }}{{ section_css_class }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  data-id="{{ section.id }}"
>
  <div class="section__wrapper">
    {% render 'section-heading',
      section_settings: section.settings,
      header_layout: header_layout,
      button_visible: true,
      button_link: button_link,
      button_style: button_style,
      button_label: button_label,
      description_size: section.settings.text_size
    %}
    <motion-element class="section__content block" data-motion="fade-up">
      <div class="collapsible-tabs__wrapper f-flex f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }}">
        {%- if image_block -%}
          <div
            class="collapsible-tabs__image-col f-column w-full flex flex-col md:order-{% if image_block.settings.desktop_image_position == 'right' %}last{% else %}first{% endif %}{% if image_block.settings.order_first %} order-first{% else %} order-last{% endif %}{{ col_alignment_class }}"
            style="--col-width: {{ col_image_width }}%;"
            {{ image_block.shopify_attributes }}
          >
            {% render 'card-image',
              color_scheme: image_block.settings.color_scheme,
              link: image_block.settings.card_link,
              image: image_block.settings.image,
              image_mobile: image_block.settings.image_mobile,
              image_ratio: image_block.settings.image_ratio,
              image_overlay_opacity: image_block.settings.image_overlay_opacity,
              rich_text_size: 'medium',
              heading: image_block.settings.heading,
              heading_size: image_block.settings.heading_size,
              subheading: image_block.settings.subheading,
              description: image_block.settings.description,
              button_label: image_block.settings.button_label,
              button_style: image_block.settings.button_style,
              content_spacing: image_block.settings.content_spacing,
              content_position: image_block.settings.content_position,
              content_alignment: image_block.settings.content_alignment
            %}
          </div>
        {%- endif -%}
        <div
          class="collapsible-tabs__content-col f-column w-full flex flex-col items-center {{ col_alignment_class }}"
          style="--col-width: {{ col_content_width }}%;"
        >
          <collapsible-tabs
            class="block w-full accordion-parent"
            data-color-scheme="color-{{ section.settings.item_color_scheme }}"
          >
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'collapsible_item' -%}
                  <div
                    class="accordion-item accordion-{{ section.settings.item_style }}{% if section.settings.item_style == 'card' %} blocks-radius{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    <details
                      class="accordion-details"
                      is="accordion-group"
                      {% if block.settings.open %}
                        open
                        aria-expanded="true"
                      {% else %}
                        aria-expanded="false"
                      {% endif %}
                    >
                      <summary class="accordion-details__summary flex items-center justify-between focus-inset">
                        <div class="flex items-center gap-2">
                          {% if block.settings.icon != 'none' %}
                            {% render 'icons', icon: block.settings.icon, size: item_icon_size %}
                          {%- endif -%}
                          <h2 class="{{ item_trigger_class }} inline-richtext">{{ block.settings.heading }}</h2>
                        </div>
                        {%- render 'icon-plus-toggle' -%}
                      </summary>
                      <div class="accordion-details__content rte">
                        {{ block.settings.content }}
                        {{ block.settings.custom_liquid }}
                        {{ block.settings.page.content }}
                      </div>
                    </details>
                  </div>
                {%- when 'heading' -%}
                  {%- if block.settings.sub_heading != blank or block.settings.heading != blank -%}
                    <div class="block-heading rich-text" {{ block.shopify_attributes }}>
                      {%- if block.settings.sub_heading != blank -%}
                        <div class="rich-text__subheading text-subheading">{{ block.settings.sub_heading }}</div>
                      {%- endif -%}
                      {%- if block.settings.heading != blank -%}
                        <h2 class="rich-text__heading {{ block.settings.heading_size }}">
                          {{ block.settings.heading }}
                        </h2>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </collapsible-tabs>
        </div>
      </div>
    </motion-element>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collapsible-tabs.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/ol6yKdU)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "narrow",
          "label": "t:sections.all.container.options__narrow.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.content"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "t:sections.all.layout.label",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "standing-column",
          "label": "t:sections.all.layout.options__3.label"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "Collapsible tabs"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.text_size.options__h1.label"
        },
        {
          "value": "hd3",
          "label": "t:sections.all.text_size.options__hd3.label"
        },
        {
          "value": "hd2",
          "label": "t:sections.all.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:sections.all.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.highlight_text.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.highlight_text.paragraph.content"
    },
    {
      "type": "select",
      "id": "heading_highlight_style",
      "label": "t:sections.all.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
        },
        {
          "value": "underline",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.all.text_size.description.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:sections.all.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:sections.all.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:sections.all.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:sections.all.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "btn--secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "btn--underline",
          "label": "t:sections.all.button.button_style.options__4.label"
        }
      ],
      "default": "btn--primary"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible-tabs.settings.header__image_card.content"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.grid.column_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.column_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.column_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.column_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.column_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.column_gap.options__xl.label"
        }
      ],
      "default": "large",
      "label": "t:sections.all.grid.column_gap.label"
    },
    {
      "type": "select",
      "id": "row_gap",
      "options": [
        {
          "value": "inherit",
          "label": "t:sections.all.grid.row_gap.options__inherit.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.grid.row_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.row_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.row_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.row_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.row_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.row_gap.options__xl.label"
        }
      ],
      "default": "inherit",
      "label": "t:sections.all.grid.row_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible-tabs.settings.header__collapsible_tab.content"
    },
    {
      "type": "select",
      "id": "item_style",
      "label": "t:sections.collapsible-tabs.settings.item_style.label",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "t:sections.collapsible-tabs.settings.item_style.options__1.label"
        },
        {
          "value": "card",
          "label": "t:sections.collapsible-tabs.settings.item_style.options__2.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "item_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2",
      "visible_if": "{{ section.settings.item_style == 'card' }}"
    },
    {
      "type": "select",
      "id": "item_heading_font",
      "label": "t:settings_schema.global.settings.font_family_options.label",
      "default": "heading",
      "options": [
        {
          "value": "body",
          "label": "t:settings_schema.global.settings.font_family_options.options__1.label"
        },
        {
          "value": "heading",
          "label": "t:settings_schema.global.settings.font_family_options.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "item_heading_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h4",
      "options": [
        {
          "value": "text-base",
          "label": "t:sections.all.text_size.options__base.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "item_icon_size",
      "options": [
        {
          "value": "extra-small",
          "label": "t:sections.all.icon_size.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.icon_size.options__2.label"
        },
        {
          "value": "extra-medium",
          "label": "t:sections.all.icon_size.options__3.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.icon_size.options__4.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.icon_size.options__5.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.icon_size.options__6.label"
        }
      ],
      "default": "extra-large",
      "label": "t:sections.all.icon_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "blocks": [
    {
      "type": "collapsible_item",
      "name": "t:sections.collapsible-tabs.blocks.collapsible_item.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.options__1.label"
            },
            {
              "value": "certificate",
              "label": "t:sections.all.icon.options__2.label"
            },
            {
              "value": "clover",
              "label": "t:sections.all.icon.options__3.label"
            },
            {
              "value": "confetti",
              "label": "t:sections.all.icon.options__4.label"
            },
            {
              "value": "currency-circle-dollar",
              "label": "t:sections.all.icon.options__5.label"
            },
            {
              "value": "eyedropper",
              "label": "t:sections.all.icon.options__6.label"
            },
            {
              "value": "gear",
              "label": "t:sections.all.icon.options__7.label"
            },
            {
              "value": "gift",
              "label": "t:sections.all.icon.options__8.label"
            },
            {
              "value": "globe",
              "label": "t:sections.all.icon.options__9.label"
            },
            {
              "value": "heart",
              "label": "t:sections.all.icon.options__10.label"
            },
            {
              "value": "package",
              "label": "t:sections.all.icon.options__11.label"
            },
            {
              "value": "star-four",
              "label": "t:sections.all.icon.options__12.label"
            },
            {
              "value": "truck",
              "label": "t:sections.all.icon.options__13.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.all.icon.options__14.label"
            },
            {
              "value": "check-circle",
              "label": "t:sections.all.icon.options__15.label"
            },
            {
              "value": "map-pin",
              "label": "t:sections.all.icon.options__16.label"
            },
            {
              "value": "tag",
              "label": "t:sections.all.icon.options__17.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.all.icon.options__18.label"
            },
            {
              "value": "arrow-up-left",
              "label": "t:sections.all.icon.options__20.label"
            },
            {
              "value": "cloud",
              "label": "t:sections.all.icon.options__21.label"
            },
            {
              "value": "seal-check",
              "label": "t:sections.all.icon.options__22.label"
            },
            {
              "value": "drop-half-bottom",
              "label": "t:sections.all.icon.options__23.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.icon.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.collapsible-tabs.blocks.collapsible_item.settings.heading.label",
          "default": "Collapsible tab heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.collapsible-tabs.blocks.collapsible_item.settings.content.label",
          "default": "<p>Fill in the text content of the collapsible item here. You can provide details and explanation for the question here.</p>"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.collapsible-tabs.blocks.collapsible_item.settings.custom_liquid.label",
          "info": "t:sections.collapsible-tabs.blocks.collapsible_item.settings.custom_liquid.info"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible-tabs.blocks.collapsible_item.settings.page.label"
        },
        {
          "type": "checkbox",
          "id": "open",
          "label": "t:sections.collapsible-tabs.blocks.collapsible_item.settings.open.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.collapsible-tabs.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.all.heading.label",
          "default": "Collapsible tabs"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "h1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.all.subheading.label"
        }
      ]
    },
    {
      "type": "image_card",
      "name": "t:sections.collapsible-tabs.blocks.image_card.name",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "t:sections.all.header__block_settings.content"
        },
        {
          "type": "select",
          "id": "desktop_image_position",
          "label": "t:sections.collapsible-tabs.blocks.image_card.settings.desktop_image_position.label",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "t:sections.collapsible-tabs.blocks.image_card.settings.desktop_image_position.options__1.label"
            },
            {
              "value": "right",
              "label": "t:sections.collapsible-tabs.blocks.image_card.settings.desktop_image_position.options__2.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.collapsible-tabs.blocks.image_card.settings.desktop_image_width.label",
          "default": 50,
          "min": 30,
          "max": 70,
          "step": 1,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "t:settings_schema.global.settings.vertical_alignment.label",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "t:settings_schema.global.settings.vertical_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:settings_schema.global.settings.vertical_alignment.options__2.label"
            },
            {
              "value": "end",
              "label": "t:settings_schema.global.settings.vertical_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.image.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "t:settings_schema.global.settings.image_ratio.label",
          "default": "adapt",
          "options": [
            {
              "value": "adapt",
              "label": "t:settings_schema.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "1/1",
              "label": "t:settings_schema.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "3/4",
              "label": "t:settings_schema.global.settings.image_ratio.options__3.label"
            },
            {
              "value": "4/3",
              "label": "t:settings_schema.global.settings.image_ratio.options__4.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "t:sections.all.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.all.content.name"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.all.heading.label",
          "default": "Image card"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "h1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.subheading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.description.label",
          "default": "<p>Combine images with text and a stand-out offer</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:settings_schema.global.settings.content_position.label",
          "default": "bottom-center",
          "options": [
            {
              "label": "t:settings_schema.global.settings.content_position.options__1.label",
              "value": "top-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__2.label",
              "value": "top-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__3.label",
              "value": "top-right"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__4.label",
              "value": "middle-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__5.label",
              "value": "middle-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__6.label",
              "value": "middle-right"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__7.label",
              "value": "bottom-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__8.label",
              "value": "bottom-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__9.label",
              "value": "bottom-right"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "t:settings_schema.global.settings.content_alignment.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:settings_schema.global.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:settings_schema.global.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:settings_schema.global.settings.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_spacing",
          "label": "t:settings_schema.global.settings.content_spacing.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:settings_schema.global.settings.content_spacing.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:settings_schema.global.settings.content_spacing.options__2.label"
            },
            {
              "value": "large",
              "label": "t:settings_schema.global.settings.content_spacing.options__3.label"
            }
          ]
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "t:sections.all.card_link.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.mobile.name"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "checkbox",
          "id": "order_first",
          "label": "t:sections.collapsible-tabs.blocks.image_card.settings.order_first.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible-tabs.presets.name",
      "blocks": [
        {
          "type": "collapsible_item"
        },
        {
          "type": "collapsible_item"
        },
        {
          "type": "collapsible_item"
        }
      ]
    }
  ]
}
{% endschema %}
