{{ 'section-countdown-timer.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign container = section.settings.container
  assign content_alignment = section.settings.content_alignment
  assign text_alignment = section.settings.text_alignment
  assign background_image = section.settings.background_image
  assign image_overlay_opacity = section.settings.image_overlay_opacity

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section.index < 2
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign image_blocks = section.blocks | where: 'type', 'image'

  assign motion_delay = 50
-%}
<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- if section.settings.container == 'full' -%}
    --padding-x: var(--page-padding);
    {%- endif -%}
  }
</style>
<div class="section section-{{ section.id }}{% if container == 'full' %} w-full{% else %} page-width{% endif %}">
  <div
    class="countdown relative z-0 overflow-hidden{% unless container == 'full' %} blocks-radius{% endunless %} color-{{ section.settings.color_schema }}"
    data-section-type="countdown-timer"
    data-section-id="{{ section.id }}"
  >
    <div class="countdown__wrapper section--padding flex flex-col relative">
      {%- if background_image != blank -%}
        <div class="bg-image" style="--aspect-ratio: {{ background_image.aspect_ratio }}">
          {%- liquid
            assign image_height = background_image.width | divided_by: background_image.aspect_ratio
          -%}
          {{
            background_image
            | image_url: width: background_image.width
            | image_tag:
              loading: loading,
              fetchpriority: fetchpriority,
              width: background_image.width,
              height: image_height,
              sizes: '100vw',
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
              is: 'image-lazy',
              alt: background_image.alt
            | escape
          }}
        </div>
      {%- endif -%}
      {%- if image_overlay_opacity > 0 -%}
        <div class="countdown__overlay bg-overlay" style="--color-overlay-alpha: {{ image_overlay_opacity }}"></div>
      {%- endif -%}
      {%- if image_blocks.size > 0 -%}
        <div class="countdown__images z-3 {% if image_blocks.size > 3 %}swipe-mobile swipe-mobile--3-cols{% endif %}">
          <grid-list class="h-full f-grid f-grid-3-cols f-grid--gap-medium f-grid--row-gap-inherit {% if image_blocks.size > 3 %}swipe-mobile__inner{% endif %}">
            {%- for block in section.blocks -%}
              {%- if block.type == 'image' -%}
                {%- liquid
                  assign block_image = block.settings.image
                  assign block_image_mobile = block.settings.image_mobile

                  if block_image == blank
                    assign image_ratio = '1/1'
                  else
                    assign image_ratio = block_image.aspect_ratio
                  endif

                  if block_image_mobile == blank
                    assign image_mobile_ratio = image_ratio
                  else
                    assign image_mobile_ratio = block_image_mobile.aspect_ratio
                  endif

                  assign image_width = block.settings.image_width | append: 'px'
                  assign vertical = block.settings.image_desktop_vertical | append: '%'
                  assign horizontal = block.settings.image_desktop_horizontal | append: '%'
                -%}
                <div
                  class="float__media block {{ block.settings.custom_classes }}"
                  style="--image-width: {{ image_width }}; --top: {{ vertical }}; --left: {{ horizontal }}"
                >
                  <motion-element class="block" data-motion="zoom-out-sm" data-motion-delay="{{ motion_delay }}">
                    <picture
                      class="media-wrapper blocks-radius overflow-hidden{% if block_image == blank %} bg-none{% endif %}"
                      style="--aspect-ratio: {{ image_ratio }};{% if image_mobile_ratio %}--aspect-ratio-mobile: {{ image_mobile_ratio }};{% endif %}"
                    >
                      {%- if block_image != blank -%}
                        {%- if block_image_mobile -%}
                          <source
                            media="(max-width: 767px)"
                            srcset="{{ block_image_mobile | image_url: width: '400x' }} 400w, {{ block_image_mobile | image_url: width: '600x' }} 600w, {{ block_image_mobile | image_url: width: '800x' }} 800w, {{ block_image_mobile | image_url: width: '1000x' }} 1000w"
                            width="{{ block_image_mobile.width }}"
                            height="{{ block_image_mobile.height }}"
                          >
                        {%- endif -%}
                        {{
                          block_image
                          | image_url: width: 1100
                          | image_tag:
                            loading: 'lazy',
                            class: 'motion-reduce',
                            sizes: image_width,
                            widths: '165, 360, 535, 750, 940, 1100',
                            is: 'image-lazy',
                            class: 'absolute inset-0 w-full h-full'
                        }}
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </picture>
                  </motion-element>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </grid-list>
        </div>
      {%- endif -%}
      <div class="countdown__content relative z-4 w-full flex justify-{{ content_alignment }}">
        <div class="countdown__inner rich-text text-{{ text_alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <h2
                  class="rich-text__heading inline-richtext {{ block.settings.heading_size }}"
                  {{ block.shopify_attributes }}
                >
                  <motion-element class="block" data-motion-delay="{{ motion_delay }}" data-motion="fade-up">
                    {{ block.settings.heading }}
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                </h2>
              {%- when 'subheading' -%}
                <motion-element
                  class="block rich-text__subheading text-subheading"
                  {{ block.shopify_attributes }}
                  data-motion-delay="{{ motion_delay }}"
                  data-motion="fade-up"
                >
                  {{ block.settings.subheading }}
                </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {%- when 'text' -%}
                <motion-element
                  class="block rich-text__text rte {{ block.settings.text_size }}"
                  {{ block.shopify_attributes }}
                  data-motion-delay="{{ motion_delay }}"
                  data-motion="fade-up"
                >
                  {{ block.settings.text }}
                </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {%- when 'button' -%}
                {%- if block.settings.button_label != blank -%}
                  <motion-element class="block" data-motion-delay="{{ motion_delay }}" data-motion="fade-up">
                    <a
                      {% if block.settings.button_link != blank %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="btn {{ block.settings.button_style }}"
                      {% if block.settings.button_link == blank %}
                        aria-disabled="true"
                        {{ block.shopify_attributes }}
                      {% endif %}
                    >
                      {{ block.settings.button_label }}
                    </a>
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {%- endif -%}
              {%- when 'timer' -%}
                {%- if block.settings.type == 'evergreen' or block.settings.time != blank -%}
                  <motion-element
                    class="block"
                    data-motion-delay="{{ motion_delay }}"
                    data-motion="fade-up"
                    {{ block.shopify_attributes }}
                  >
                    {% render 'countdown-timer',
                      id: block.id,
                      type: block.settings.type,
                      duration: block.settings.duration,
                      time: block.settings.time,
                      style: block.settings.style,
                      number_size: block.settings.number_size,
                      motion_delay: motion_delay,
                      custom_class: 'block'
                    %}
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.countdown-timer.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/hwritl)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "full",
      "label": "t:sections.all.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.all.background_image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.all.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.countdown-timer.settings.header_settings.content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:settings_schema.global.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:settings_schema.global.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:settings_schema.global.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 50,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.all.heading.label",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Sale ends in",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "hd2",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.all.subheading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.subheading.label",
          "default": "Add a tagline"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.all.description.label",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Insert the time limit or an encouraging messge of your marketing campaign to create a sense of urgency for your customers.</p>",
          "label": "t:sections.all.description.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.text_size.description.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        }
      ]
    },
    {
      "type": "timer",
      "name": "t:sections.countdown-timer.blocks.timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "t:sections.countdown-timer.blocks.timer.settings.type.label",
          "options": [
            {
              "value": "evergreen",
              "label": "t:sections.countdown-timer.blocks.timer.settings.type.options__1.label"
            },
            {
              "value": "fixed_time",
              "label": "t:sections.countdown-timer.blocks.timer.settings.type.options__2.label"
            }
          ],
          "default": "fixed_time"
        },
        {
          "type": "select",
          "id": "style",
          "label": "t:sections.countdown-timer.blocks.timer.settings.style.label",
          "options": [
            {
              "value": "number",
              "label": "t:sections.countdown-timer.blocks.timer.settings.style.options__1.label"
            },
            {
              "value": "with_text",
              "label": "t:sections.countdown-timer.blocks.timer.settings.style.options__2.label"
            }
          ],
          "default": "number"
        },
        {
          "type": "select",
          "id": "number_size",
          "label": "t:sections.countdown-timer.blocks.timer.settings.number_size.label",
          "options": [
            {
              "value": "hd3",
              "label": "t:sections.countdown-timer.blocks.timer.settings.number_size.options__1.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.countdown-timer.blocks.timer.settings.number_size.options__2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.countdown-timer.blocks.timer.settings.number_size.options__3.label"
            }
          ],
          "default": "hd2"
        },
        {
          "type": "header",
          "content": "t:sections.countdown-timer.blocks.timer.settings.header__evergreen.content"
        },
        {
          "type": "select",
          "id": "duration",
          "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.label",
          "options": [
            {
              "value": "every_2_hrs",
              "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.options__every_2_hrs.label"
            },
            {
              "value": "every_6_hrs",
              "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.options__every_6_hrs.label"
            },
            {
              "value": "every_12_hrs",
              "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.options__every_12_hrs.label"
            },
            {
              "value": "every_24_hrs",
              "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.options__every_24_hrs.label"
            },
            {
              "value": "every_week",
              "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.options__every_week.label"
            },
            {
              "value": "every_month",
              "label": "t:sections.countdown-timer.blocks.timer.settings.evergreen_duration.options__every_month.label"
            }
          ],
          "default": "every_month"
        },
        {
          "type": "header",
          "content": "t:sections.countdown-timer.blocks.timer.settings.header__fixed_time.content"
        },
        {
          "type": "text",
          "id": "time",
          "default": "2025/08/20 03:45 PM",
          "label": "t:sections.countdown-timer.blocks.timer.settings.time.label",
          "info": "t:sections.countdown-timer.blocks.timer.settings.time.info"
        },
        {
          "type": "paragraph",
          "content": "t:sections.countdown-timer.blocks.timer.settings.time.paragraph"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.all.image.label",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 150,
          "max": 350,
          "step": 2,
          "unit": "px",
          "label": "t:sections.countdown-timer.blocks.image.settings.image_desktop_width.label",
          "default": 150
        },
        {
          "type": "range",
          "id": "image_desktop_vertical",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.countdown-timer.blocks.image.settings.image_desktop_vertical.label",
          "default": 50
        },
        {
          "type": "range",
          "id": "image_desktop_horizontal",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.countdown-timer.blocks.image.settings.image_desktop_horizontal.label",
          "default": 50
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.all.image_mobile.label"
        },
        {
          "type": "text",
          "id": "custom_classes",
          "label": "t:sections.all.custom_classes.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.countdown-timer.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "timer"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
