{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{% liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign enable_swipe_mobile = false
  if section.settings.swipe_on_mobile and section.settings.post_limit > columns_mobile_int
    assign enable_swipe_mobile = true
  endif

  assign columns_desktop = section.settings.columns_desktop
  assign columns_tablet = columns_desktop
  if columns_desktop > 3
    assign columns_tablet = columns_desktop | divided_by: 2.0 | ceil
  endif

  assign show_date = section.settings.show_date
  assign show_excerpt = section.settings.show_excerpt
  assign show_button = section.settings.show_button

  assign section_header_alignment = settings.section_header_alignment
  assign section_header_alignment_mobile = settings.section_header_alignment_mobile
  if section_header_alignment_mobile == 'inherit'
    assign section_header_alignment_mobile = section_header_alignment
  endif

  assign motion_delay = 50
%}

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div
  class="section section--padding featured-blog color-{{ section.settings.color_scheme }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="page-width">
    {% render 'section-heading', section_settings: section.settings %}
    <motion-element
      class="featured-blog__wrapper block f-grid--gap-{{ section.settings.column_gap }}{% if enable_swipe_mobile %} swipe-mobile swipe-mobile--{{ section.settings.columns_mobile }}-cols{% endif %}"
      data-motion-delay="{{ motion_delay }}"
    >
      <div class="featured-blog__items f-grid f-grid-{{ columns_mobile_int }}-cols md:f-grid-{{ columns_tablet }}-cols lg:f-grid-{{ columns_desktop }}-cols{% if enable_swipe_mobile %} swipe-mobile__inner{% endif %}">
        {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <div class="f-column">
              {%- render 'card-article',
                article: article,
                show_date: show_date,
                show_excerpt: show_excerpt,
                show_button: show_button,
                index: forloop.index,
                title_size: section.settings.card_title_size
              -%}
            </div>
          {%- endfor -%}
        {% else %}
          {% for i in (1..section.settings.post_limit) -%}
            <div class="f-column">
              {%- render 'card-article-placeholder',
                show_date: show_date,
                show_excerpt: show_excerpt,
                show_button: show_button,
                title_size: section.settings.card_title_size,
                index: forloop.index0
              -%}
            </div>
          {%- endfor -%}
        {% endif %}
      </div>
    </motion-element>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/VyuCDU2)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.text_size.options__h1.label"
        },
        {
          "value": "hd3",
          "label": "t:sections.all.text_size.options__hd3.label"
        },
        {
          "value": "hd2",
          "label": "t:sections.all.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:sections.all.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.highlight_text.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.highlight_text.paragraph.content"
    },
    {
      "type": "select",
      "id": "heading_highlight_style",
      "label": "t:sections.all.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
        },
        {
          "value": "underline",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.blog_setting_header"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.all.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.grid.name"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.all.grid.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.grid.column_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.column_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.column_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.column_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.column_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.column_gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.grid.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.name"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.mobile.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.mobile.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.all.mobile.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.all.mobile.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.card_settings.name"
    },
    {
      "type": "select",
      "id": "card_title_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h3",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.text_size.options__h1.label"
        },
        {
          "value": "hd3",
          "label": "t:sections.all.text_size.options__hd3.label"
        },
        {
          "value": "hd2",
          "label": "t:sections.all.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:sections.all.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_excerpt.label"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_button.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  }
}
{% endschema %}
