{%- liquid
  assign desktop_height = section.settings.desktop_height
  assign mobile_height = section.settings.mobile_height
-%}
<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- if section.settings.image != blank and desktop_height == 'adapt' %}
      --media-ratio: {{ section.settings.image.aspect_ratio }};
    {% endif -%}
    {%- if section.settings.container == 'full' -%}
      --padding-x: var(--page-padding);
    {%- endif -%}
  }

  {%- if section.settings.image_mobile != blank and mobile_height == 'adapt' %}
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --media-ratio-mobile: {{ section.settings.image_mobile.aspect_ratio }};
      }
    }
  {% endif -%}
</style>
<div class="image-with-text-overlay section--padding">
  <div class="{% if section.settings.container == 'full' %}w-full{% else %}page-width{% endif %}">
    <div class="relative overflow-hidden{% unless section.settings.container == 'full' %} blocks-radius{% endunless %}">
      <parallax-element
        class="block w-full h-full overflow-hidden"
        {% if section.settings.enable_parallax %}
          data-parallax="0.3" data-parallax-direction="{{ section.settings.parallax_direction }}"
        {% endif %}
      >
        <motion-element
          data-motion="zoom-out"
          class="block relative overflow-hidden w-full h-full media mb:media--{{ mobile_height }}{% if desktop_height == 'adapt' %} media--adapt{% else %} media--{{ desktop_height }}{% endif %}"
        >
          {%- if section.settings.image != blank -%}
            {%- capture sizes -%}{% if section.settings.container == 'full' %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
            <picture class="media-wrapper media--height block w-full h-full relative overflow-hidden">
              {%- if section.settings.image_mobile -%}
                <source
                  media="(max-width: 767px)"
                  srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                  width="{{ section.settings.image_mobile.width }}"
                  height="{{ section.settings.image_mobile.height }}"
                >
              {%- endif -%}

              {{-
                section.settings.image
                | image_url: width: section.settings.image.width
                | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                  is: 'image-lazy'
              -}}
            </picture>
          {%- else -%}
            <div class="media-wrapper">
              {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
            </div>
          {%- endif -%}
        </motion-element>
      </parallax-element>
      <div class="image-with-text-ovelay__content">
        <div class="image-with-text-ovelay__content-wrapper content-overlay content-overlay--{{ section.settings.content_position }} color-{{ section.settings.color_scheme }}{% if section.settings.container == 'full' %} page-width{% endif %}">
          <div class="relative z-1 rich-text text-{{ section.settings.content_alignment }}">
            {%- assign motion_delay = 50 -%}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'subheading' %}
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                    class="block rich-text__subheading text-subheading"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.subheading }}
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% when 'heading' %}
                  <h2 class="rich-text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                    <motion-element data-motion="fade-up" data-motion-delay="{{ motion_delay }}" class="block">
                      {% render 'highlight-text',
                        text: block.settings.heading,
                        style: block.settings.heading_highlight_style
                      %}
                    </motion-element>
                  </h2>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% when 'text' %}
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                    class="block rich-text__text rte {{ block.settings.text_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{- block.settings.text -}}
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% when 'button' %}
                  <motion-element class="block" data-motion="fade-up" data-motion-delay="{{ motion_delay }}">
                    {% if block.settings.button_label != blank %}
                      <a
                        {% if block.settings.button_link != blank %}
                          href="{{ block.settings.button_link }}"
                        {% else %}
                          role="link" aria-disabled="true"
                        {% endif %}
                        class="btn {{ block.settings.button_style }}"
                        {{ block.shopify_attributes }}
                      >
                        {{- block.settings.button_label -}}
                      </a>
                    {% endif %}
                  </motion-element>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div
        class="bg-overlay absolute inset-0"
        style="--color-overlay-alpha: {{ section.settings.overlay_opacity }};"
      ></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-with-text-overlay.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/fJT8ytn)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        }
      ],
      "default": "full",
      "label": "t:sections.all.container.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "t:sections.all.desktop_height.label",
      "options": [
        {
          "label": "t:sections.all.height.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.all.height.options__2.label",
          "value": "extra-small"
        },
        {
          "label": "t:sections.all.height.options__3.label",
          "value": "small"
        },
        {
          "label": "t:sections.all.height.options__4.label",
          "value": "medium"
        },
        {
          "label": "t:sections.all.height.options__5.label",
          "value": "extra-medium"
        },
        {
          "label": "t:sections.all.height.options__6.label",
          "value": "large"
        },
        {
          "label": "t:sections.all.height.options__7.label",
          "value": "extra-large"
        }
      ],
      "default": "extra-medium"
    },
    {
      "type": "range",
      "label": "t:sections.all.overlay_opacity.label",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.all.enable_parallax_effect.label"
    },
    {
      "type": "select",
      "id": "parallax_direction",
      "label": "t:sections.all.parallax_direction.label",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.all.parallax_direction.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.all.parallax_direction.options__2.label"
        },
        {
          "value": "zoom",
          "label": "t:sections.all.parallax_direction.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.content_settings.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-inverse"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:settings_schema.global.settings.content_position.label",
      "default": "middle-left",
      "options": [
        {
          "label": "t:settings_schema.global.settings.content_position.options__1.label",
          "value": "top-left"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__2.label",
          "value": "top-center"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__3.label",
          "value": "top-right"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__4.label",
          "value": "middle-left"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__5.label",
          "value": "middle-center"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__6.label",
          "value": "middle-right"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__7.label",
          "value": "bottom-left"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__8.label",
          "value": "bottom-center"
        },
        {
          "label": "t:settings_schema.global.settings.content_position.options__9.label",
          "value": "bottom-right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:settings_schema.global.settings.content_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_settings.content"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "t:sections.all.mobile_height.label",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.all.height.options__8.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.height.options__3.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.height.options__4.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.height.options__6.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.height.options__7.label"
        },
        {
          "label": "t:sections.all.height.options__1.label",
          "value": "adapt"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.all.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Add a tagline",
          "label": "t:sections.all.subheading.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.all.heading.label",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text overlay",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "hd1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.highlight_text.header.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.all.highlight_text.paragraph.content"
        },
        {
          "type": "select",
          "id": "heading_highlight_style",
          "label": "t:sections.all.highlight_text.settings.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.all.text.label",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.all.text.label",
          "default": "<p>Use this text to share information about your brand with your customers. <br>Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.text_size.description.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text-overlay.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
