{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section.index < 3
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign image = section.settings.image
  assign alt_image = image.alt | default: shop.name | escape

  assign color_inherit = false
  if section.settings.color_scheme == section.settings.section_color_scheme
    assign color_inherit = true
  endif
  assign motion_delay = 50
-%}

{%- capture sizes -%}min({{ settings.page_width }}, 100vw){%- endcapture -%}

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div
  class="section section--padding image-with-text image-with-text--{{ section.settings.layout | replace: '_', '-' }} color-{{ section.settings.section_color_scheme }}{% if color_inherit %} color-inherit{% endif %}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="page-width">
    <div class="image-with-text__wrapper hero hero--{{ section.settings.image_height }} f-grid f-grid-1-cols md:f-grid-2-cols f-grid--gap-none blocks-radius">
      <parallax-element
        class="block overflow-hidden{% if color_inherit %} blocks-radius{% endif %}"
        {% if section.settings.enable_parallax %}
          data-parallax="0.3" data-parallax-direction="{{ section.settings.parallax_direction }}"
        {% endif %}
      >
        <motion-element data-motion="zoom-out" class="block w-full h-full">
          <div
            class="image-with-text__media hero__media media-wrapper hover-wrapper"
            style="{% if section.settings.image_height == 'adapt' %}--aspect-ratio: {{ section.settings.image.aspect_ratio | default: '16/9' }};{% endif %}"
          >
            {% if section.settings.image != blank %}
              {{-
                image
                | image_url: width: image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  sizes: sizes,
                  width: image.width,
                  height: image.height,
                  widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                  alt: alt_image,
                  class: 'hover-scale-up'
              -}}
            {% else %}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full hover-scale-up' }}
            {% endif %}
          </div>
        </motion-element>
      </parallax-element>
      <div class="image-with-text__inner md:flex items-{{ section.settings.desktop_content_position }} text-{{ section.settings.mobile_content_alignment }} md:text-{{ section.settings.desktop_content_alignment }} color-{{ section.settings.color_scheme }}">
        <div class="image-with-text__content rich-text">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'subheading' %}
                <motion-element
                  class="rich-text__subheading text-subheading block"
                  data-motion="fade-up"
                  data-motion-delay="{{ motion_delay }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.subheading }}
                </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {% when 'heading' %}
                <h2
                  class="rich-text__heading overflow-hidden {{ block.settings.heading_size }}"
                  {{ block.shopify_attributes }}
                >
                  <motion-element data-motion="fade-up" data-motion-delay="{{ motion_delay }}" class="block">
                    {% render 'highlight-text',
                      text: block.settings.heading,
                      style: block.settings.heading_highlight_style
                    %}
                  </motion-element>
                </h2>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {% when 'text' %}
                <motion-element
                  class="block rich-text__text rte {{ block.settings.text_size }}"
                  data-motion="fade-up"
                  data-motion-delay="{{ motion_delay }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.text }}
                </motion-element>
                {%- assign motion_delay = motion_delay | plus: 50 -%}
              {% when 'button' %}
                {% if block.settings.button_label != blank %}
                  <motion-element class="block" data-motion="fade-up" data-motion-delay="{{ motion_delay }}">
                    <a
                      {% if block.settings.button_link != blank %}
                        href="{{ block.settings.button_link }}"
                      {% else %}
                        role="link" aria-disabled="true"
                        disabled
                      {% endif %}
                      class="btn {{ block.settings.button_style }}"
                      {{ block.shopify_attributes }}
                    >
                      {{- block.settings.button_label -}}
                    </a>
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% endif %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/9wkpv0d)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.container.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.hero.settings.image_height.options__1.label"
        },
        {
          "value": "large",
          "label": "t:sections.hero.settings.image_height.options__2.label"
        },
        {
          "value": "extra-medium",
          "label": "t:sections.hero.settings.image_height.options__3.label"
        },
        {
          "value": "medium",
          "label": "t:sections.hero.settings.image_height.options__4.label"
        },
        {
          "value": "small",
          "label": "t:sections.hero.settings.image_height.options__5.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.hero.settings.image_height.options__6.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.hero.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "t:settings_schema.global.settings.vertical_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "t:settings_schema.global.settings.vertical_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.vertical_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:settings_schema.global.settings.vertical_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "t:sections.all.text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.all.enable_parallax_effect.label"
    },
    {
      "type": "select",
      "id": "parallax_direction",
      "label": "t:sections.all.parallax_direction.label",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.all.parallax_direction.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.all.parallax_direction.options__2.label"
        },
        {
          "value": "zoom",
          "label": "t:sections.all.parallax_direction.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "label": "t:sections.all.text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.all.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Add a tagline",
          "label": "t:sections.all.subheading.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.all.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "hd1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.highlight_text.header.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.all.highlight_text.paragraph.content"
        },
        {
          "type": "select",
          "id": "heading_highlight_style",
          "label": "t:sections.all.highlight_text.settings.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.all.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.text_size.text.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
