{{ 'component-multicolumn-card.css' | asset_url | stylesheet_tag }}

{% liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign enable_swipe_mobile = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign enable_swipe_mobile = true
  endif

  assign columns_desktop = section.settings.columns_desktop
  assign columns_tablet = columns_desktop
  if columns_desktop > 3
    assign columns_tablet = columns_desktop | divided_by: 2.0 | ceil
  endif

  assign has_richtext = false
  if section.settings.heading != blank or section.settings.description != blank or section.settings.subheading != blank
    assign has_richtext = true
  endif

  assign section_header_alignment = 'left'
  assign section_header_alignment_mobile = settings.section_header_alignment_mobile
  if section_header_alignment_mobile == 'inherit'
    assign section_header_alignment_mobile = section_header_alignment
  endif

  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section.index < 3
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign image = section.settings.image
  assign alt_image = image.alt | default: shop.name | escape

  assign motion_delay = 50
%}

{%- capture sizes -%}min({{ settings.page_width }}, 100vw){%- endcapture -%}

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div
  class="section section--padding image-with-text-columns color-{{ section.settings.color_scheme }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="page-width">
    <div class="section__wrapper f-grid f-grid--gap-{{ section.settings.layout_gap }} f-grid-1-cols md:f-grid-2-cols items-{{ section.settings.content_alignment }}">
      <div class="section__inner order-last{% if section.settings.image_position != 'image_first' %} md:order-first{% endif %}">
        {% if has_richtext %}
          <div class="section__header text-{{ section_header_alignment_mobile }} md:text-{{ section_header_alignment }} rich-text">
            {% if section.settings.subheading != blank %}
              <motion-element
                class="block rich-text__subheading text-subheading"
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
              >
                {{- section.settings.subheading -}}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if section.settings.heading != blank %}
              <h2 class="rich-text__heading inline-richtext overflow-hidden {{ section.settings.heading_size }}">
                <motion-element data-motion="fade-up" data-motion-delay="{{ motion_delay }}" class="block">
                  {% render 'highlight-text',
                    text: section.settings.heading,
                    style: section.settings.heading_highlight_style
                  %}
                </motion-element>
              </h2>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
            {% if section.settings.description != blank %}
              <motion-element
                class="block rich-text__text rte {{ section.settings.text_size }}"
                data-motion="fade-up"
                data-motion-delay="{{ motion_delay }}"
              >
                {{- section.settings.description -}}
              </motion-element>
              {%- assign motion_delay = motion_delay | plus: 50 -%}
            {% endif %}
          </div>
        {% endif %}
        <motion-element
          class="section__content block f-grid--gap-{{ section.settings.column_gap }}{% if enable_swipe_mobile %} swipe-mobile swipe-mobile--{{ section.settings.columns_mobile }}-cols{% endif %}"
          data-motion="fade-up"
          data-motion-delay="{{ motion_delay }}"
        >
          <div class="multicolumn__items f-grid f-grid-{{ columns_mobile_int }}-cols md:f-grid-{{ columns_tablet }}-cols lg:f-grid-{{ columns_desktop }}-cols{% if enable_swipe_mobile %} swipe-mobile__inner{% endif %}">
            {%- for block in section.blocks -%}
              <div class="f-column" {{ block.shopify_attributes }}>
                <div class="multicolumn-card multicolumn-card--image-{{ block.settings.image_width }} text-{{ section.settings.column_alignment }}">
                  {% if block.settings.image != blank %}
                    <div class="multicolumn-card__image media-wrapper hover-wrapper{% if block.settings.image_width == 'full' %} blocks-radius{% endif %}">
                      <motion-element data-motion="zoom-out-sm" class="block w-full h-full">
                        {{
                          block.settings.image
                          | image_url: width: 1100
                          | image_tag:
                            loading: 'lazy',
                            class: 'motion-reduce hover-scale-up',
                            widths: '165, 360, 535, 750, 940, 1100',
                            is: 'image-lazy'
                        }}
                      </motion-element>
                    </div>
                  {% endif %}
                  <div class="multicolumn-card__info">
                    {% if block.settings.title != blank %}
                      <h3 class="multicolumn-card__title {{ block.settings.heading_size }}">
                        {{ block.settings.title }}
                      </h3>
                    {% endif %}
                    {% if block.settings.text != blank %}
                      <div class="multicolumn-card__text rich-text__text rte {{ block.settings.text_size }}">
                        {{ block.settings.text }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </motion-element>
      </div>
      <div class="image-with-text-columns__image-wrap overflow-hidden blocks-radius order-first{% if section.settings.image_position != 'image_first' %} md:order-last{% endif %}">
        <motion-element data-motion="zoom-out" class="block w-full h-full">
          <div
            class="image-with-text-columns__media media-wrapper hover-wrapper"
            style="--aspect-ratio: {{ section.settings.image.aspect_ratio | default: '3/4' }};"
          >
            {% if image != blank %}
              {{-
                image
                | image_url: width: image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  sizes: sizes,
                  width: image.width,
                  height: image.height,
                  widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                  alt: alt_image,
                  class: 'hover-scale-up'
              -}}
            {% else %}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg w-full h-full hover-scale-up' }}
            {% endif %}
          </div>
        </motion-element>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text-columns.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/NXa29Kr)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "layout_gap",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.grid.column_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.column_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.column_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.column_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.column_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.column_gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text-columns.settings.layout_gap.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:settings_schema.global.settings.vertical_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "t:settings_schema.global.settings.vertical_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.vertical_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:settings_schema.global.settings.vertical_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.image.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "image_position",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "text_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_settings.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Image with text columns",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.text_size.options__h1.label"
        },
        {
          "value": "hd3",
          "label": "t:sections.all.text_size.options__hd3.label"
        },
        {
          "value": "hd2",
          "label": "t:sections.all.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:sections.all.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.highlight_text.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.highlight_text.paragraph.content"
    },
    {
      "type": "select",
      "id": "heading_highlight_style",
      "label": "t:sections.all.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
        },
        {
          "value": "underline",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label",
      "default": "Add a tag line"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.text.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.all.text_size.description.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:sections.all.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:sections.all.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:sections.all.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:sections.all.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.grid.name"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:sections.all.grid.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.grid.column_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.column_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.column_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.column_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.column_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.column_gap.options__xl.label"
        }
      ],
      "default": "large",
      "label": "t:sections.all.grid.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.name"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.mobile.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.mobile.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.all.mobile.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.all.mobile.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "select",
          "id": "image_width",
          "options": [
            {
              "value": "full",
              "label": "t:sections.multicolumn.settings.image_width.options__1.label"
            },
            {
              "value": "extra-large",
              "label": "t:sections.multicolumn.settings.image_width.options__6.label"
            },
            {
              "value": "large",
              "label": "t:sections.multicolumn.settings.image_width.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.multicolumn.settings.image_width.options__3.label"
            },
            {
              "value": "small",
              "label": "t:sections.multicolumn.settings.image_width.options__4.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.multicolumn.settings.image_width.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Column",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "h4",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post.<br> Add details on availability, style.</p>",
          "label": "t:sections.all.description.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.text_size.description.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text-columns.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
