{%- liquid
  assign header_layout = section.settings.header_layout
  assign button_style = section.settings.button_style
  assign button_label = section.settings.button_label
  assign button_link = section.settings.button_link

  assign columns_desktop = section.settings.columns
  assign columns_tablet = columns_desktop
  assign columns_mobile = section.settings.columns_mobile | plus: 0

  if columns_desktop > 3
    assign columns_tablet = columns_desktop | divided_by: 2.0 | ceil
  endif

  assign enable_swipe_mobile = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile
    assign enable_swipe_mobile = true
  endif
-%}
{%- capture image_sizes -%}
(max-width: 767px) calc((100vw - 30px) / {{ columns_mobile }}),
(max-width: 1023px) calc((100vw - 30px) / {{ columns_tablet }}),
{{ settings.page_width | divided_by: columns_desktop }}px
{%- endcapture -%}
{{ 'section-image-gallery.css' | asset_url | stylesheet_tag }}
{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}
<div
  class="section section-image-gallery section-header-{{ header_layout }} section--padding page-width color-{{ section.settings.color_scheme }}"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  {% render 'section-heading',
    section_settings: section.settings,
    description_size: section.settings.text_size,
    button_visible: true,
    button_link: button_link,
    button_style: button_style,
    button_label: button_label,
    button_icon: section.settings.social_media
  %}
  <grid-list class="block {% if enable_swipe_mobile %} swipe-mobile swipe-mobile--{{ section.settings.columns_mobile }}-cols{% endif %}">
    <div class="f-grid f-grid-{{ columns_mobile }}-cols md:f-grid-{{ columns_tablet }}-cols lg:f-grid-{{ columns_desktop }}-cols f-grid--gap-{{ section.settings.column_gap }} f-grid--row-gap-{{ section.settings.row_gap }}{% if enable_swipe_mobile %} swipe-mobile__inner{% endif %}">
      {%- liquid
        assign image_ratio = section.settings.image_ratio | default: '1'

        capture social_icon_html
          case section.settings.social_media
            when 'facebook'
              render 'icon-facebook', size: 'large'
            when 'twitter'
              render 'icon-twitter', size: 'large'
            when 'instagram'
              render 'icon-instagram', size: 'large'
          endcase
        endcapture
      -%}
      {%- for block in section.blocks -%}
        {%- liquid
          assign image = block.settings.image
          assign image_link = block.settings.link

          assign item_tag = 'div'
          if image_link != blank
            assign item_tag = 'a'
          endif

          assign image_aspect_ratio = image_ratio
          if image_aspect_ratio == 'adapt'
            if image != blank
              assign image_aspect_ratio = image.aspect_ratio
            else
              assign image_aspect_ratio = '1'
            endif
          endif
        -%}
        <div class="f-column" {{ block.shopify_attributes }}>
          <{{ item_tag }}
            {% if image_link != blank %}
              href="{{ image_link | escape }}"
              aria-label="{{ image.alt | default: 'image-gallery-image-' | append: forloop.index }}"
            {% endif %}
            class="hover-wrapper blocks-radius media-wrapper{% if image == blank %} bg-none{% endif %}"
          >
            <motion-element class="block" data-motion="zoom-out-sm" style="--aspect-ratio: {{ image_aspect_ratio }}">
              {%- if image != blank -%}
                {{-
                  image
                  | image_url: width: image.width
                  | image_tag:
                    loading: 'lazy',
                    fetchpriority: 'low',
                    class: 'motion-reduce hover-scale-up',
                    widths: '165, 355, 450, 535, 710, 900, 1070',
                    sizes: image_sizes,
                    is: 'image-lazy'
                -}}
              {%- else -%}
                {{- 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full hover-scale-up' -}}
              {%- endif -%}
            </motion-element>
            {% if image_link != blank %}
              <div class="content-overlay content-overlay--middle-center">
                <div class="bg-overlay" style="--color-overlay-alpha: 20"></div>
                <div class="btn btn--icon-circle social-icon">{{ social_icon_html }}</div>
              </div>
            {%- endif -%}
          </{{ item_tag }}>
        </div>
      {%- endfor -%}
    </div>
  </grid-list>
</div>
{% schema %}
{
  "name": "t:sections.image-gallery.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/LjU9DbC)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_header.content"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "t:sections.all.layout.label",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.all.layout.options__2.label"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "Image gallery"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.text_size.heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h6",
          "label": "t:sections.all.text_size.options__h6.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.text_size.options__h5.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.text_size.options__h4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.text_size.options__h3.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.text_size.options__h2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.text_size.options__h1.label"
        },
        {
          "value": "hd3",
          "label": "t:sections.all.text_size.options__hd3.label"
        },
        {
          "value": "hd2",
          "label": "t:sections.all.text_size.options__hd2.label"
        },
        {
          "value": "hd1",
          "label": "t:sections.all.text_size.options__hd1.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.highlight_text.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.highlight_text.paragraph.content"
    },
    {
      "type": "select",
      "id": "heading_highlight_style",
      "label": "t:sections.all.highlight_text.settings.highlight_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
        },
        {
          "value": "underline",
          "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.description.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.all.text_size.description.label",
      "default": "text-base",
      "options": [
        {
          "value": "text-sm",
          "label": "t:sections.all.text_size.options__small.label"
        },
        {
          "value": "text-base",
          "label": "t:sections.all.text_size.options__base.label"
        },
        {
          "value": "text-lg",
          "label": "t:sections.all.text_size.options__large.label"
        },
        {
          "value": "text-inherit",
          "label": "t:sections.all.text_size.options__inherit.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.all.button.button_style.label",
      "options": [
        {
          "value": "btn--primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "btn--secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "btn--underline",
          "label": "t:sections.all.button.button_style.options__4.label"
        },
        {
          "value": "btn--bordered-icon",
          "label": "t:sections.all.button.button_style.options__5.label"
        }
      ],
      "default": "btn--primary"
    },
    {
      "type": "select",
      "id": "social_media",
      "label": "t:sections.image-gallery.settings.social_media.label",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.image-gallery.settings.social_media.options__none.label"
        },
        {
          "value": "instagram",
          "label": "Instagram"
        },
        {
          "value": "facebook",
          "label": "Facebook"
        },
        {
          "value": "twitter",
          "label": "Twitter"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.grid.name"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.all.grid.columns_desktop.label",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.grid.column_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.column_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.column_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.column_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.column_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.column_gap.options__xl.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.grid.column_gap.label"
    },
    {
      "type": "select",
      "id": "row_gap",
      "options": [
        {
          "value": "inherit",
          "label": "t:sections.all.grid.row_gap.options__inherit.label"
        },
        {
          "value": "none",
          "label": "t:sections.all.grid.row_gap.options__none.label"
        },
        {
          "value": "extra-small",
          "label": "t:sections.all.grid.row_gap.options__xs.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.grid.row_gap.options__sm.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.grid.row_gap.options__md.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.grid.row_gap.options__lg.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.grid.row_gap.options__xl.label"
        }
      ],
      "default": "inherit",
      "label": "t:sections.all.grid.row_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:settings_schema.global.settings.image_ratio.label",
      "default": "1/1",
      "options": [
        {
          "value": "adapt",
          "label": "t:settings_schema.global.settings.image_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "t:settings_schema.global.settings.image_ratio.options__2.label"
        },
        {
          "value": "3/4",
          "label": "t:settings_schema.global.settings.image_ratio.options__3.label"
        },
        {
          "value": "4/3",
          "label": "t:settings_schema.global.settings.image_ratio.options__4.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.name"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.all.mobile.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.all.mobile.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.all.mobile.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.all.mobile.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.all.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.all.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-gallery.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
