<style type="text/css">
  .password-logo {
    max-width: {{ settings.logo_width }}px;
  }
</style>

<div class="password-header">
  <div class="page-width">
    {%- if settings.logo != blank -%}
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {{
        settings.logo
        | image_url: width: 500
        | image_tag:
          class: 'password-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          width: settings.logo_width,
          height: logo_height,
          alt: logo_alt
      }}
    {%- else -%}
      <h1 class="h2">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <div class="password-modal">
      <details is="password-details" id="Details-{{ section.id }}">
        <summary class="password-modal__toggle" aria-haspopup="dialog">
          <div class="password-modal__toggle-open flex items-center gap-1">
            {% render 'icon-padlock', size: 'large' %}
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="password-modal__toggle-close flex items-center justify-center" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="password-modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__container text-center" tabindex="-1">
            <h2 class="password-modal__content-heading h1" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="form-field{% if form.errors %} form-field--error{% endif %}">
                <label
                  class="form-label visually-hidden"
                  for="{{ 'general.password_page.login_form_password_label' | t }}"
                >
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="form-control"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
              </div>
              {%- if form.errors -%}
                <div
                  id="PasswordLoginForm-password-error"
                  role="status"
                  class="form-message form-message--error form-message--small"
                  aria-label="{{ 'accessibility.error' | t }}"
                >
                  {%- render 'icon-error' %}
                  {{ 'general.password_page.login_form_error' | t -}}
                </div>
              {%- endif -%}
              <div class="form-field">
                <button name="commit" class="password-button btn btn--primary w-full">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </div>
            {%- endform -%}
            <p class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </details>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-header.settings.logo_header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    }
  ]
}
{% endschema %}
