{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  .customer__header svg {
    transform: rotate(180deg);
  }
{%- endstyle -%}

{%- paginate customer.addresses by 5 -%}
  <div
    class="customer addresses section section--padding"
    data-customer-addresses
    style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  >
    <div class="section__wrapper">
      <header class="customer__header flex flex-col md:flex-row items-center gap-6">
        <div class="flex flex-col items-center md:items-start gap-y-3 flex-1">
          <h1 class="customer__title">{{ 'customer.addresses.title' | t }}</h1>
          <a href="{{ routes.account_url }}" class="text-subtext reversed-link inline-flex items-center gap-x-2">
            {% render 'icon-caret', size: 'small' %}
            {{ 'customer.account.return' | t }}
          </a>
        </div>
        <button type="button" data-toggle-target="AddAddress" class="btn btn--primary">
          {{ 'customer.addresses.add_new' | t }}
        </button>
      </header>

      <div
        id="AddAddress"
        class="address-form blocks-radius color-{{ section.settings.color_scheme }} hidden"
        data-address
      >
        <div class="rich-text">
          <h2 id="AddressNewHeading" class="h3">{{ 'customer.addresses.add_new' | t }}</h2>
        </div>
        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
          <div class="form-row form-field" style="--gap: 2.4rem;">
            <div class="form-field">
              <label for="AddressFirstNameNew" class="form-label">{{ 'customer.addresses.first_name' | t }}</label>
              <input
                type="text"
                id="AddressFirstNameNew"
                name="address[first_name]"
                value="{{ form.first_name }}"
                autocomplete="given-name"
                placeholder="{{ 'customer.addresses.first_name' | t }}"
                class="form-control"
              >
            </div>
            <div class="form-field">
              <label for="AddressLastNameNew" class="form-label">{{ 'customer.addresses.last_name' | t }}</label>
              <input
                type="text"
                id="AddressLastNameNew"
                name="address[last_name]"
                value="{{ form.last_name }}"
                autocomplete="family-name"
                placeholder="{{ 'customer.addresses.last_name' | t }}"
                class="form-control"
              >
            </div>
          </div>
          <div class="form-field">
            <label for="AddressCompanyNew" class="form-label">{{ 'customer.addresses.company' | t }}</label>
            <input
              type="text"
              id="AddressCompanyNew"
              name="address[company]"
              value="{{ form.company }}"
              autocomplete="organization"
              placeholder="{{ 'customer.addresses.company' | t }}"
              class="form-control"
            >
          </div>
          <div class="form-field">
            <label for="AddressAddress1New" class="form-label">{{ 'customer.addresses.address1' | t }}</label>
            <input
              type="text"
              id="AddressAddress1New"
              name="address[address1]"
              value="{{ form.address1 }}"
              autocomplete="address-line1"
              placeholder="{{ 'customer.addresses.address1' | t }}"
              class="form-control"
            >
          </div>
          <div class="form-field">
            <label for="AddressAddress2New" class="form-label">{{ 'customer.addresses.address2' | t }}</label>
            <input
              type="text"
              id="AddressAddress2New"
              name="address[address2]"
              value="{{ form.address2 }}"
              autocomplete="address-line2"
              placeholder="{{ 'customer.addresses.address2' | t }}"
              class="form-control"
            >
          </div>
          <div class="form-field">
            <label for="AddressCityNew" class="form-label">{{ 'customer.addresses.city' | t }}</label>
            <input
              type="text"
              id="AddressCityNew"
              name="address[city]"
              value="{{ form.city }}"
              autocomplete="address-level2"
              placeholder="{{ 'customer.addresses.city' | t }}"
              class="form-control"
            >
          </div>
          <div class="form-field">
            <label for="AddressCountryNew" class="form-label">{{ 'customer.addresses.country' | t }}</label>
            <div class="select">
              <select
                id="AddressCountryNew"
                name="address[country]"
                data-default="{{ form.country }}"
                autocomplete="country"
                class="form-control form-control--select"
              >
                {{ all_country_option_tags }}
              </select>
              {% render 'icon-caret-down' %}
            </div>
          </div>
          <div id="AddressProvinceContainerNew" class="form-field" style="display: none">
            <label for="AddressProvinceNew" class="form-label">{{ 'customer.addresses.province' | t }}</label>
            <div class="select">
              <select
                id="AddressProvinceNew"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
                class="form-control form-control--select"
              ></select>
              {% render 'icon-caret-down' %}
            </div>
          </div>
          <div class="form-field">
            <label for="AddressZipNew" class="form-label">{{ 'customer.addresses.zip' | t }}</label>
            <input
              type="text"
              id="AddressZipNew"
              name="address[zip]"
              value="{{ form.zip }}"
              autocapitalize="characters"
              autocomplete="postal-code"
              placeholder="{{ 'customer.addresses.zip' | t }}"
              class="form-control"
            >
          </div>
          <div class="form-field">
            <label for="AddressPhoneNew" class="form-label">{{ 'customer.addresses.phone' | t }}</label>
            <input
              type="tel"
              id="AddressPhoneNew"
              name="address[phone]"
              value="{{ form.phone }}"
              autocomplete="tel"
              placeholder="{{ 'customer.addresses.phone' | t }}"
              class="form-control"
            >
          </div>
          <div class="form-field flex items-center gap-x-3">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          <div class="form-footer form-group">
            <button class="btn btn--primary">{{ 'customer.addresses.add' | t }}</button>
            <button class="btn btn--secondary" type="reset" data-toggle-target="AddAddress">
              {{ 'customer.addresses.cancel' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>

      <ul class="address-list flex flex-col" role="list">
        {%- for address in customer.addresses -%}
          <li
            class="blocks-radius color-{{ section.settings.color_scheme }}"
            data-address
          >
            <div class="address-info flex flex-col md:flex-row items-start gap-6">
              <div class="address-info__main flex-1">
                {%- if address == customer.default_address -%}
                  <span class="address-info__default-badge f-badge f-badge--soldout">
                    {{- 'customer.addresses.default' | t -}}
                  </span>
                {%- endif -%}
                {{ address | format_address }}
              </div>
              <div class="address-info__cta flex items-center gap-x-6">
                <button
                  type="button"
                  id="EditFormButton_{{ address.id }}"
                  aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                  data-toggle-target="EditAddress_{{ address.id }}"
                  data-address-id="{{ address.id }}"
                  class="btn btn--plain btn--inherit gap-x-2"
                >
                  {% render 'icon-pencil', size: 'medium' %}
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <button
                  type="button"
                  aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                  data-target="{{ address.url }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                  class="btn btn--plain btn--inherit gap-x-2"
                >
                  {% render 'icon-trash', size: 'medium' %}
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </div>
            </div>
            <div id="EditAddress_{{ address.id }}" class="address-form addresses__edit-form hidden">
              <div class="rich-text">
                <h2 class="h3">{{ 'customer.addresses.edit_address' | t }}</h2>
              </div>
              {%- form 'customer_address', address -%}
                <div class="form-row form-field" style="--gap: 2.4rem;">
                  <div class="form-field">
                    <label for="AddressFirstName_{{ form.id }}" class="form-label">
                      {{- 'customer.addresses.first_name' | t -}}
                    </label>
                    <input
                      type="text"
                      id="AddressFirstName_{{ form.id }}"
                      name="address[first_name]"
                      value="{{ form.first_name }}"
                      autocomplete="given-name"
                      placeholder="{{ 'customer.addresses.first_name' | t }}"
                      class="form-control"
                    >
                  </div>
                  <div class="form-field">
                    <label for="AddressLastName_{{ form.id }}" class="form-label">
                      {{- 'customer.addresses.last_name' | t -}}
                    </label>
                    <input
                      type="text"
                      id="AddressLastName_{{ form.id }}"
                      name="address[last_name]"
                      value="{{ form.last_name }}"
                      autocomplete="family-name"
                      placeholder="{{ 'customer.addresses.last_name' | t }}"
                      class="form-control"
                    >
                  </div>
                </div>
                <div class="form-field">
                  <label for="AddressCompany_{{ form.id }}" class="form-label">
                    {{- 'customer.addresses.company' | t -}}
                  </label>
                  <input
                    type="text"
                    id="AddressCompany_{{ form.id }}"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="{{ 'customer.addresses.company' | t }}"
                    class="form-control"
                  >
                </div>
                <div class="form-field">
                  <label for="AddressAddress1_{{ form.id }}" class="form-label">
                    {{- 'customer.addresses.address1' | t -}}
                  </label>
                  <input
                    type="text"
                    id="AddressAddress1_{{ form.id }}"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="{{ 'customer.addresses.address1' | t }}"
                    class="form-control"
                  >
                </div>
                <div class="form-field">
                  <label for="AddressAddress2_{{ form.id }}" class="form-label">
                    {{- 'customer.addresses.address2' | t -}}
                  </label>
                  <input
                    type="text"
                    id="AddressAddress2_{{ form.id }}"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="{{ 'customer.addresses.address2' | t }}"
                    class="form-control"
                  >
                </div>
                <div class="form-field">
                  <label for="AddressCity_{{ form.id }}" class="form-label">{{ 'customer.addresses.city' | t }}</label>
                  <input
                    type="text"
                    id="AddressCity_{{ form.id }}"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}"
                    class="form-control"
                  >
                </div>
                <div class="form-field">
                  <label for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressCountry_{{ form.id }}"
                      name="address[country]"
                      data-address-country-select
                      data-default="{{ form.country }}"
                      data-form-id="{{ form.id }}"
                      autocomplete="country"
                      class="form-control form-control--select"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    {% render 'icon-caret-down' %}
                  </div>
                </div>
                <div id="AddressProvinceContainer_{{ form.id }}" class="form-field" style="display:none;">
                  <label for="AddressProvince_{{ form.id }}">
                    {{ 'customer.addresses.province' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressProvince_{{ form.id }}"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"
                      class="form-control form-control--select"
                    ></select>
                    {% render 'icon-caret-down' %}
                  </div>
                </div>
                <div class="form-field">
                  <label for="AddressZip_{{ form.id }}" class="form-label">{{ 'customer.addresses.zip' | t }}</label>
                  <input
                    type="text"
                    id="AddressZip_{{ form.id }}"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}"
                    class="form-control"
                  >
                </div>
                <div class="form-field">
                  <label for="AddressPhone_{{ form.id }}" class="form-label">
                    {{- 'customer.addresses.phone' | t -}}
                  </label>
                  <input
                    type="tel"
                    id="AddressPhone_{{ form.id }}"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="{{ 'customer.addresses.phone' | t }}"
                    class="form-control"
                  >
                </div>
                <div class="form-field flex items-center gap-x-3">
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_{{ form.id }}">
                    {{ 'customer.addresses.set_default' | t }}
                  </label>
                </div>
                <div class="form-footer form-group">
                  <button class="btn btn--primary">{{ 'customer.addresses.update' | t }}</button>
                  <button class="btn btn--secondary" type="reset" data-toggle-target="EditAddress_{{ address.id }}">
                    {{ 'customer.addresses.cancel' | t }}
                  </button>
                </div>
              {%- endform -%}
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if paginate.pages > 1 -%}
        {%- if paginate.parts.size > 0 -%}
          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul class="pagination__list list-unstyled flex items-center flex-wrap justify-start" role="list">
              {%- if paginate.previous -%}
                <li>
                  <a
                    href="{{ paginate.previous.url }}"
                    aria-label="{{ 'general.pagination.previous' | t }}"
                    class="pagination__item pagination__item--previous pagination__item-arrow link motion-reduce"
                  >
                    {% render 'icon-caret', size: 'extra-small' %}
                    <span>{{ 'general.pagination.previous' | t }}</span>
                  </a>
                </li>
              {%- endif -%}

              {%- for part in paginate.parts -%}
                <li>
                  {%- if part.is_link -%}
                    <a
                      href="{{ part.url }}"
                      aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                      class="pagination__item"
                    >
                      {{- part.title -}}
                    </a>
                  {%- else -%}
                    {%- if part.title == paginate.current_page -%}
                      <a
                        role="link"
                        aria-disabled="true"
                        class="pagination__item pagination__item--current background-2"
                        aria-current="page"
                        aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                      >
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      <span class="pagination__item">{{ part.title }}</span>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- endfor -%}

              {%- if paginate.next -%}
                <li>
                  <a
                    href="{{ paginate.next.url }}"
                    aria-label="{{ 'general.pagination.next' | t }}"
                    class="pagination__item pagination__item--next pagination__item-arrow motion-reduce"
                  >
                    <span>{{ 'general.pagination.next' | t }}</span>
                    {% render 'icon-caret', size: 'extra-small' %}
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </nav>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
{%- endpaginate -%}

<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>

{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ]
}
{% endschema %}
