{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div
  class="customer login section section--padding"
  style="--section-padding-top: {{ section.settings.padding_top }}px;--section-padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  <div class="section__wrapper">
    <h1 id="recover" tabindex="-1" class="text-center">
      {{ 'customer.recover_password.title' | t }}
    </h1>
    <div>
      <p class="text-center">
        {{ 'customer.recover_password.subtext' | t }}
      </p>

      {%- form 'recover_customer_password', class: 'flex flex-col' -%}
        {% assign recover_success = form.posted_successfully? %}
        <div class="form-field">
          <label for="RecoverEmail" class="form-label">
            {{ 'customer.login_page.email' | t }}
          </label>
          <input
            required
            type="email"
            value=""
            name="email"
            id="RecoverEmail"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              autofocus
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
            class="form-control"
          >
          {%- if form.errors -%}
            <span id="RecoverEmail-email-error" class="form-message form-message--small form-message--error">
              {% render 'icon-error', size: 'small' %}
              {{ form.errors.messages.form }}
            </span>
          {%- endif -%}
        </div>

        <button class="btn btn--primary w-full" type="submit">
          {{ 'customer.login_page.submit' | t }}
        </button>

        <a href="#login" class="btn btn--underline self-center">
          {{ 'customer.login_page.cancel' | t }}
        </a>
      {%- endform -%}
    </div>

    <h1 id="login" tabindex="-1" class="text-center">
      {{ 'customer.login_page.title' | t }}
    </h1>
    <div>
      {%- if recover_success == true -%}
        <p class="form-message form-message--success m-0" tabindex="-1" autofocus>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13" class="icon icon-success icon--small">
            <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"/>
            <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"/>
            <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
          </svg>
          {{ 'customer.recover_password.success' | t }}
        </p>
      {%- endif -%}
      {%- form 'customer_login', class: 'flex flex-col' -%}
        {%- if form.errors -%}
          <div class="form-error alert alert--error blocks-radius">
            <h2 class="form-message form-message--error h6 m-0" tabindex="-1" autofocus>
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              {% render 'icon-error', size: 'small' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}

        {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
          <section name="sign-in-with-shop-provider">
            {{ shop | login_button: hide_button: hide_shop_login_button }}

            {%- unless hide_shop_login_button -%}
              <p>
                {{ 'customer.login_page.alternate_provider_separator' | t }}
              </p>
            {%- endunless -%}
          </section>
        {%- endif -%}

        <div class="form-field">
          <label for="CustomerEmail" class="form-label">
            {{ 'customer.login_page.email' | t }}
          </label>
          <input
            required
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            autocomplete="email"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.email' | t }}"
            class="form-control"
          >
        </div>

        {%- if form.password_needed -%}
          <div class="form-field">
            <label for="CustomerPassword" class="form-label">
              {{ 'customer.login_page.password' | t }}
            </label>
            <input
              required
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              autocomplete="current-password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.password' | t }}"
              class="form-control"
            >
          </div>

          <a href="#recover" class="btn--link self-start text-subtext">
            {{ 'customer.login_page.forgot_password' | t }}
          </a>
        {%- endif -%}

        <button class="btn btn--primary w-full" type="submit">
          {{ 'customer.login_page.sign_in' | t }}
        </button>

        <a href="{{ routes.account_register_url }}" class="btn btn--underline self-center">
          {{ 'customer.login_page.create_account' | t }}
        </a>
      {%- endform -%}
    </div>

    {%- if shop.checkout.guest_login -%}
      <div>
        <hr>
        <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

        {%- form 'guest_login' -%}
          <button class="btn btn--primary w-full">
            {{ 'customer.login_page.guest_continue' | t }}
          </button>
        {%- endform -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ]
}
{% endschema %}
