{%- liquid
  assign slide_height = section.settings.slide_height
  assign text_alignment_mobile = section.settings.text_alignment_mobile
  assign show_text_below = section.settings.show_text_below
  assign show_dots = section.settings.show_dots
  assign slider_layout = section.settings.layout

  assign first_block = section.blocks.first
  if first_block.type == 'video'
    assign aspect_ratio = first_block.settings.video.aspect_ratio | default: '16/9'
    assign aspect_ratio_mobile = aspect_ratio
  else
    assign aspect_ratio = first_block.settings.background.aspect_ratio | default: 2.333
    assign aspect_ratio_mobile = first_block.settings.background_mobile.aspect_ratio | default: 1.778
  endif

  assign autoplay = 0
  if section.settings.autoplay
    assign autoplay = section.settings.autoplay_delay | times: 1000
  endif
-%}
{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slideshow-component.js' | asset_url }}" defer="defer"></script>
<div
  class="section section-{{ section.id }} section--slideshow{% if section.settings.container != 'full' %} page-width{% endif %}"
  data-id="{{ section.id }}"
  role="region"
  aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
  aria-label="{{ section.settings.accessibility_info | escape }}"
>
  <slideshow-component
    class="swiper slideshow-wrapper slideshow-layout--{{ slider_layout }} slideshow-height--{{ slide_height }}{% if show_text_below %} slideshow-content-mobile--below{% endif %}{% if show_dots %} slideshow-controls-visible--yes slideshow-controls-position--{{ section.settings.controls_position }}{% endif %}{% if section.settings.container != 'full' and slider_layout != 'centered' %} blocks-radius{% endif %}"
    aria-live="polite"
    aria-atomic="true"
    {% if autoplay > 0 %}
      data-autoplay="{{ autoplay }}"
    {% endif %}
    data-media-loading
    data-layout="{{ slider_layout }}"
    data-items="{{ section.blocks.size }}"
    data-section-id="{{ section.id }}"
    style="{% if autoplay > 0 %}--swiper-autoplay-delay: {{ autoplay | plus: 1000 }}ms;{% endif %}"
  >
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- liquid
          assign loading = 'lazy'
          assign fetchpriority = 'low'
          if forloop.index == 1 and section.index < 2
            assign loading = 'eager'
            assign fetchpriority = 'high'
          endif
          assign color_scheme_default = settings.color_schemes | first
          assign color_scheme_inherit = false
          if block.settings.color_scheme == color_scheme_default
            assign color_scheme_inherit = true
          endif
        -%}
        <div
          class="swiper-slide"
          role="group"
          data-index="{{ forloop.index0 }}"
          aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
          data-type="{{ block.type }}"
          aria-label="{{ forloop.index }} {{ 'sections.slideshow.of' | t }} {{ forloop.length }}"
          tabindex="-1"
          data-color-scheme="color-{{ block.settings.color_scheme }}"
          {{ block.shopify_attributes }}
        >
          <div
            class="slideshow__item-wrap"
            {% if slide_height == 'adapt' and slider_layout != 'split' %}
              style="--aspect-ratio: {{ aspect_ratio }};--aspect-ratio-mobile: {{ aspect_ratio_mobile }};"
            {% endif %}
          >
            <div
              class="slideshow__bg bg-image overflow-hidden{% if slider_layout == 'centered' %} blocks-radius{% endif %}"
              style="--aspect-ratio: {{ aspect_ratio }};--aspect-ratio-mobile: {{ aspect_ratio_mobile }};"
            >
              {%- case block.type -%}
                {%- when 'video' -%}
                  <motion-element
                    hold
                    data-motion="zoom-out"
                    class="block media {% if slide_height == 'adapt' %} absolute inset-full{% else %} w-full h-full{% endif %}"
                    {% if slide_height == 'adapt' %}
                      style="--media-ratio: {{ aspect_ratio }}; --media-ratio-mobile: {{ aspect_ratio_mobile }};"
                    {% endif %}
                  >
                    {%- render 'video',
                      sizes: '100vw',
                      loading: loading,
                      fetchpriority: fetchpriority,
                      video: block.settings.video,
                      video_url: block.settings.video_url,
                      muted: true,
                      autoplay: false,
                      loop: true,
                      description: block.settings.video_description,
                      cover_image: block.settings.cover_image,
                      show_play_button: false
                    -%}
                  </motion-element>
                {%- else -%}
                  {%- liquid
                    assign background_default = block.settings.background
                    assign background_mobile = block.settings.background_mobile
                  -%}
                  <div class="slideshow__slide-bg absolute inset-full">
                    {%- if background_default == blank -%}
                      <motion-element
                        data-motion="zoom-out"
                        hold
                        class="slideshow__slide-placeholder h-full{% if background_mobile != blank %} hidden md:block{% else %} block{% endif %}"
                      >
                        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg w-full h-full' }}
                      </motion-element>
                    {%- endif -%}
                    {%- if background_default != blank or background_mobile != blank -%}
                      {%- capture sizes -%}
                        {%- if section.settings.container == 'full' -%}{%- if section.settings.layout == 'centered' -%}70vw{%- else -%}100vw{%- endif -%}{%- else -%}min({{ settings.page_width }}, 100vw){%- endif -%}
                      {%- endcapture -%}
                      <motion-element
                        class="w-full h-full block{% if background_default == blank %} md:hidden{% endif %}"
                        data-motion="zoom-out"
                        hold
                      >
                        <picture class="media media--height media-wrapper block w-full h-full relative overflow-hidden">
                          {%- if background_default != blank and background_mobile != blank -%}
                            <source
                              media="(max-width: 767px)"
                              srcset="{{ background_mobile | image_url: width: '400x' }} 400w, {{ background_mobile | image_url: width: '600x' }} 600w, {{ background_mobile | image_url: width: '800x' }} 800w, {{ background_mobile | image_url: width: '1000x' }} 1000w"
                              width="{{ background_mobile.width }}"
                              height="{{ background_mobile.height }}"
                            >
                          {%- endif -%}
                          {%- liquid
                            if background_default == blank
                              assign background_default = background_mobile
                            endif

                            assign background_default_height = background_default.width | divided_by: background_default.aspect_ratio
                            assign background_default_alt = background_default.alt | default: shop.name | escape
                          -%}
                          {{-
                            background_default
                            | image_url: width: 1500
                            | image_tag:
                              loading: loading,
                              width: background_default.width,
                              height: background_default_height,
                              alt: background_default_alt,
                              fetchpriority: fetchpriority,
                              sizes: sizes,
                              widths: '300,400,500,600,700,800,900,1000,1200,1300,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                              is: 'image-lazy'
                          -}}
                        </picture>
                      </motion-element>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
              {%- if block.settings.image_overlay_opacity > 0 -%}
                <div
                  class="slideshow__overlay bg-overlay"
                  style="--color-overlay-alpha: {{ block.settings.image_overlay_opacity }}"
                ></div>
              {%- endif -%}
            </div>
            {%- liquid
              assign text_alignment = block.settings.text_alignment
              assign description_size = block.settings.description_size
              assign animate_delay = 250
            -%}
            <div
              class="slideshow__content content-overlay--{{ block.settings.content_position }} flex flex-col page-width focus-none color-{{ block.settings.color_scheme }}{% if show_text_below and slider_layout != 'split' %} mobile-color-scheme-1{% endif %}{% if color_scheme_inherit %} color-scheme-inherit{% endif %}"
              tabindex="-1"
            >
              <div class="slideshow__text rich-text text-{{ text_alignment_mobile }} md:text-{{ text_alignment }}">
                {%- unless block.settings.subheading == blank -%}
                  <div class="slideshow__subtitle rich-text__subheading text-subheading">
                    <motion-element
                      data-motion="fade-up"
                      data-motion-delay="{{ animate_delay }}"
                      data-text
                      hold
                      class="block"
                    >
                      {{- block.settings.subheading -}}
                    </motion-element>
                  </div>
                  {%- assign animate_delay = animate_delay | plus: 100 -%}
                {%- endunless -%}
                {%- unless block.settings.title == blank -%}
                  <h2 class="slideshow__title {{ block.settings.heading_size }} rich-text__heading">
                    <motion-element
                      data-motion="fade-up"
                      data-motion-delay="{{ animate_delay }}"
                      data-text
                      hold
                      class="block"
                    >
                      {{- block.settings.title -}}
                    </motion-element>
                  </h2>
                  {%- assign animate_delay = animate_delay | plus: 100 -%}
                {%- endunless -%}
                {%- unless block.settings.description == blank -%}
                  <motion-element
                    class="block slideshow__description {{ description_size }} rich-text__text rte"
                    data-motion="fade-up"
                    data-motion-delay="{{ animate_delay }}"
                    data-text
                    hold
                  >
                    {{- block.settings.description -}}
                  </motion-element>
                  {%- assign animate_delay = animate_delay | plus: 100 -%}
                {%- endunless -%}
                {%- unless block.settings.button_label == blank -%}
                  <div class="slideshow__buttons rich-text__button">
                    <motion-element
                      data-motion="fade-up"
                      data-motion-delay="{{ animate_delay }}"
                      data-text
                      hold
                      class="block"
                    >
                      <a
                        {% if block.settings.button_link != blank %}
                          href="{{ block.settings.button_link }}"
                        {% else %}
                          aria-disabled="true"
                          disabled
                        {% endif %}
                        class="btn {{ block.settings.button_style }}"
                      >
                        {{- block.settings.button_label -}}
                      </a>
                    </motion-element>
                  </div>
                  {%- assign animate_delay = animate_delay | plus: 100 -%}
                {%- endunless -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    {%- if show_dots -%}
      <div class="swiper-controls bg-none color-{{ section.blocks.first.settings.color_scheme }}">
        <div class="swiper-pagination swiper-pagination-bullets-animate"></div>
      </div>
    {%- endif -%}
  </slideshow-component>
</div>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/eH1aFSF)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        }
      ],
      "default": "full",
      "label": "t:sections.all.container.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "standard",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "centered",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        },
        {
          "value": "split",
          "label": "t:sections.slideshow.settings.layout.options__3.label"
        }
      ],
      "default": "standard",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "select",
      "id": "slide_height",
      "label": "t:sections.slideshow.settings.slide_height.label",
      "default": "large",
      "options": [
        {
          "label": "t:sections.slideshow.settings.slide_height.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.slideshow.settings.slide_height.options__2.label",
          "value": "small"
        },
        {
          "label": "t:sections.slideshow.settings.slide_height.options__3.label",
          "value": "medium"
        },
        {
          "label": "t:sections.slideshow.settings.slide_height.options__4.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "t:sections.all.carousel.show_dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.all.carousel.autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "label": "t:sections.all.carousel.autoplay_delay",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 3
    },
    {
      "type": "select",
      "id": "controls_position",
      "label": "t:sections.slideshow.settings.pagination_position.label",
      "options": [
        {
          "value": "bottom",
          "label": "t:sections.slideshow.settings.pagination_position.options__1.label"
        },
        {
          "value": "below",
          "label": "t:sections.slideshow.settings.pagination_position.options__2.label"
        }
      ],
      "default": "bottom"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.name"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": false,
      "visible_if": "{{ section.settings.layout != 'split' }}"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "t:settings_schema.global.settings.content_alignment.mobile.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.global.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:settings_schema.global.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:settings_schema.global.settings.content_alignment.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "Slideshow about our brand"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide_item.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "image_picker",
          "id": "background",
          "label": "t:sections.slideshow.blocks.slide_item.settings.image_desktop.label",
          "info": "t:sections.slideshow.blocks.slide_item.settings.image_desktop.info"
        },
        {
          "type": "image_picker",
          "id": "background_mobile",
          "label": "t:sections.slideshow.blocks.slide_item.settings.image_mobile.label",
          "info": "t:sections.slideshow.blocks.slide_item.settings.image_mobile.info"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.slideshow.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header__content.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:settings_schema.global.settings.content_position.desktop.label",
          "default": "middle-center",
          "options": [
            {
              "label": "t:settings_schema.global.settings.content_position.options__1.label",
              "value": "top-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__2.label",
              "value": "top-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__3.label",
              "value": "top-right"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__4.label",
              "value": "middle-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__5.label",
              "value": "middle-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__6.label",
              "value": "middle-right"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__7.label",
              "value": "bottom-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__8.label",
              "value": "bottom-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__9.label",
              "value": "bottom-right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "t:settings_schema.global.settings.content_alignment.desktop.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:settings_schema.global.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:settings_schema.global.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:settings_schema.global.settings.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.all.heading.label",
          "default": "Image slide"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "hd1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.subheading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.description.label",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "t:sections.all.text_size.description.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        }
      ]
    },
    {
      "type": "video",
      "name": "t:sections.slideshow.blocks.slide_video.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__1.content"
        },
        {
          "type": "video",
          "label": "t:sections.video.settings.video.label",
          "id": "video"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__2.content",
          "info": "t:sections.video.settings.paragraph.content"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["vimeo", "youtube"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "text",
          "id": "video_description",
          "label": "t:sections.video.settings.description.label",
          "info": "t:sections.video.settings.description.info"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.slideshow.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide_item.settings.header__content.content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:settings_schema.global.settings.content_position.desktop.label",
          "default": "middle-center",
          "options": [
            {
              "label": "t:settings_schema.global.settings.content_position.options__1.label",
              "value": "top-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__2.label",
              "value": "top-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__3.label",
              "value": "top-right"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__4.label",
              "value": "middle-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__5.label",
              "value": "middle-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__6.label",
              "value": "middle-right"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__7.label",
              "value": "bottom-left"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__8.label",
              "value": "bottom-center"
            },
            {
              "label": "t:settings_schema.global.settings.content_position.options__9.label",
              "value": "bottom-right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "t:settings_schema.global.settings.content_alignment.desktop.label",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "t:settings_schema.global.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:settings_schema.global.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:settings_schema.global.settings.content_alignment.options__3.label"
            }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.all.heading.label",
          "default": "Video slide"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "hd1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.subheading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.description.label",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "t:sections.all.text_size.description.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
