{{ 'section-video-with-text.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image
  assign motion_delay = 50
-%}
<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- if section.settings.video_ratio == 'adapt' %}
      {%- if poster != null -%}
      --media-ratio: {{ poster.aspect_ratio }};
      {%- else -%}
      --media-ratio: 16/9;
      {%- endif -%}
    {% else -%}
      --media-ratio: {{ section.settings.video_ratio }};
    {%- endif -%}
  }
</style>

{% render 'divider',
  show_divider: section.settings.show_section_divider,
  divider_width: section.settings.divider_width
%}

<div class="video-with-text section--padding">
  <div class="page-width">
    <div class="flex flex-col items-center blocks-radius color-{{ section.settings.color_scheme }}{% if section.settings.video_placement == 'second' %} md:flex-row-reverse{% else %} md:flex-row{% endif %}">
      <div class="video-with-text__video overflow-hidden w-full lg:w-1/2">
        <parallax-element
          class="block overflow-hidden"
          {% if section.settings.enable_parallax %}
            data-parallax="0.3" data-parallax-direction="{{ section.settings.parallax_direction }}"
          {% endif %}
        >
          <motion-element data-motion="zoom-out" class="relative block media media--adapt">
            {%- capture sizes -%}{% if section.settings.container == 'full' %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
            {%- render 'video',
              sizes: sizes,
              video: section.settings.video,
              video_url: section.settings.video_url,
              muted: section.settings.enable_video_autoplay,
              autoplay: section.settings.enable_video_autoplay,
              controls: true,
              loop: section.settings.enable_video_looping,
              description: section.settings.description,
              cover_image: section.settings.cover_image,
              show_play_button: true
            -%}
          </motion-element>
        </parallax-element>
      </div>
      {%- if section.blocks.size > 0 -%}
        <div class="video-with-text__content w-full lg:w-1/2">
          <div class="rich-text text-{{ section.settings.text_alignment }}">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'subheading' %}
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                    class="block rich-text__subheading text-subheading"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.subheading }}
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% when 'heading' %}
                  <h2
                    class="rich-text__heading overflow-hidden {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    <motion-element class="block" data-motion="fade-up" data-motion-delay="{{ motion_delay }}">
                      {% render 'highlight-text',
                        text: block.settings.heading,
                        style: block.settings.heading_highlight_style
                      %}
                    </motion-element>
                  </h2>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% when 'text' %}
                  <motion-element
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                    class="block rich-text__text rte {{ block.settings.text_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.text }}
                  </motion-element>
                  {%- assign motion_delay = motion_delay | plus: 50 -%}
                {% when 'button' %}
                  <motion-element
                    class="block"
                    data-motion="fade-up"
                    data-motion-delay="{{ motion_delay }}"
                  >
                    {% if block.settings.button_label != blank %}
                      <a
                        {% if block.settings.button_link != blank %}
                          href="{{ block.settings.button_link }}"
                        {% else %}
                          role="link" aria-disabled="true"
                        {% endif %}
                        class="btn {{ block.settings.button_style }}"
                        {{ block.shopify_attributes }}
                      >
                        {{- block.settings.button_label -}}
                      </a>
                    {% endif %}
                  </motion-element>
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.video-with-text.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "[Read How-to](https://scalora.link/liAWwQc)"
    },
    {
      "type": "header",
      "content": "t:sections.all.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__1.content"
    },
    {
      "type": "video",
      "label": "t:sections.video.settings.video.label",
      "id": "video"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content",
      "info": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["vimeo", "youtube"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "select",
      "id": "video_ratio",
      "label": "t:sections.video.settings.video_ratio.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.video.settings.video_ratio.options__1.label"
        },
        {
          "value": "1/1",
          "label": "t:sections.video.settings.video_ratio.options__2.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.video.settings.video_ratio.options__3.label"
        },
        {
          "value": "4/5",
          "label": "t:sections.video.settings.video_ratio.options__4.label"
        },
        {
          "value": "16/9",
          "label": "t:sections.video.settings.video_ratio.options__5.label"
        },
        {
          "value": "9/16",
          "label": "t:sections.video.settings.video_ratio.options__6.label"
        }
      ],
      "default": "4/3"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "t:sections.video.settings.enable_video_autoplay.label",
      "info": "t:sections.video.settings.enable_video_autoplay.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "t:sections.video.settings.enable_video_looping.label",
      "default": false
    },
    {
      "type": "select",
      "id": "video_placement",
      "label": "t:sections.video.settings.video_placement.label",
      "info": "t:sections.video.settings.video_placement.info",
      "options": [
        {
          "value": "first",
          "label": "t:sections.video.settings.video_placement.options__1.label"
        },
        {
          "value": "second",
          "label": "t:sections.video.settings.video_placement.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.all.enable_parallax_effect.label"
    },
    {
      "type": "select",
      "id": "parallax_direction",
      "label": "t:sections.all.parallax_direction.label",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.all.parallax_direction.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.all.parallax_direction.options__2.label"
        },
        {
          "value": "zoom",
          "label": "t:sections.all.parallax_direction.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.content_settings.content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.content"
    },
    {
      "type": "checkbox",
      "id": "show_section_divider",
      "default": false,
      "label": "t:sections.all.divider.settings.show_divider.label"
    },
    {
      "type": "select",
      "id": "divider_width",
      "options": [
        {
          "value": "fixed",
          "label": "t:sections.all.container.options__fixed.label"
        },
        {
          "value": "full",
          "label": "t:sections.all.container.options__full.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.divider.settings.divider_width.label"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.all.subheading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "Add a tagline",
          "label": "t:sections.all.subheading.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.all.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.all.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.text_size.heading.label",
          "default": "h1",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.all.text_size.options__h6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.text_size.options__h5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.text_size.options__h4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.text_size.options__h3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.text_size.options__h2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.text_size.options__h1.label"
            },
            {
              "value": "hd3",
              "label": "t:sections.all.text_size.options__hd3.label"
            },
            {
              "value": "hd2",
              "label": "t:sections.all.text_size.options__hd2.label"
            },
            {
              "value": "hd1",
              "label": "t:sections.all.text_size.options__hd1.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.highlight_text.header.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.all.highlight_text.paragraph.content"
        },
        {
          "type": "select",
          "id": "heading_highlight_style",
          "label": "t:sections.all.highlight_text.settings.highlight_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.highlight_text.settings.highlight_style.options__1.label"
            },
            {
              "value": "underline",
              "label": "t:sections.all.highlight_text.settings.highlight_style.options__2.label"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.all.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.all.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.all.text_size.text.label",
          "default": "text-base",
          "options": [
            {
              "value": "text-sm",
              "label": "t:sections.all.text_size.options__small.label"
            },
            {
              "value": "text-base",
              "label": "t:sections.all.text_size.options__base.label"
            },
            {
              "value": "text-lg",
              "label": "t:sections.all.text_size.options__large.label"
            },
            {
              "value": "text-inherit",
              "label": "t:sections.all.text_size.options__inherit.label"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "value": "btn--primary",
              "label": "t:sections.all.button.button_style.options__1.label"
            },
            {
              "value": "btn--secondary",
              "label": "t:sections.all.button.button_style.options__2.label"
            },
            {
              "value": "btn--underline",
              "label": "t:sections.all.button.button_style.options__4.label"
            }
          ],
          "default": "btn--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video-with-text.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  }
}
{% endschema %}
